---
title: Message sent. Thanks!
subtitle: Thank you for your enquiry. I'll get back to you ASAP.
layout: page
permalink: /contact/thanks/
eleventyExcludeFromCollections: true
---

<article id="post-2" class="post-2 page type-page status-publish hentry">
  <div class="entry-content">
    <div class="section feature-page-intro">
      <div class="section page-intro-content">
        <div class="section-inner section-inner-narrower">
          <br /><br /><br />
          <h1>{{title}}</h1>
          <p>{{subtitle}}</p>
        </div>
      </div>
    </div>
</article><!-- .error-404 -->