---
title: Message sent. Thanks!
subtitle: Thank you for your enquiry. I'll get back to you ASAP.
layout: base
permalink: /contact/thanks/
eleventyExcludeFromCollections: true
---

<h1>{{title}}</h1>
<p>{{subtitle}}</p>