/* Sections */
.section {
	.section-inner {
		@include center-block;
		width: 100%;
		max-width: $size__content-max-width;
		padding-left: $spacing__medium;
		padding-right: $spacing__medium;
		@include bp-nav-switch() {
			padding-left: $spacing__large;
			padding-right: $spacing__large;
		}
	}
	.section-inner-wide {
		max-width: $size__content-max-width-wide;
	}
	.section-inner-narrow {
		max-width: $size__content-max-width-narrow;
	}
	.section-inner-narrower {
		max-width: $size__content-max-width-narrower;
	}
}


/* Social Links */
.social-links {
	margin-top: $spacing__smaller;
	list-style: none;
	padding: 0;
	margin-bottom: 0;
	li {
		margin-right: 5%;
		display: inline-block;
		&:last-of-type {
			margin-right: 0;
		}
		a {
			color: inherit;
		}
		.site-footer & {
			margin: 0 $spacing__smaller;
			@include bp-col-switch() {
				margin: 0 $spacing__medium 0 0;
			}
		}
	}
	
	[class^="icon-"] {
		@include font-size($font__size-h2);
		display: block;
		
		a {
			transition: $transition__color;
			&:hover,
			&:focus {
				border-bottom: dotted 1px;
			}
		}
	}
	.social-links-twitter {
		color: $color__twitter;
		a {
			&:hover,
			&:focus {
				color: darken($color__twitter, 20%);
			}
		}
	}
	.social-links-instagram {
		color: $color__instagram;
		a {
			&:hover,
			&:focus {
				color: darken($color__instagram, 20%);
			}
		}
	}
	.social-links-linkedin {
		color: $color__linkedin;
		a {
			&:hover,
			&:focus {
				color: darken($color__linkedin, 20%);
			}
		}
	}
}

/* Blockquotes (Testimonials etc) */
blockquote {
    font-family: Georgia, serif;
    font-style: italic;
    position: relative;
    padding-left: $spacing__largest + $spacing__smaller;
	margin-bottom: $spacing__large;
    min-height: 3em;
    strong {
		@include font-size($font__size-big);
    }
    footer {
	    margin-top: $spacing__smaller;
	    padding-bottom: $spacing__large;
    	//border-bottom: 1px dotted $color__brand-2;
	    font-style: normal;
    	color: $color__tone-50;
    	font-weight: $font__weight-bold;
    	@include font-size($font__size-bigger);
    }
    .block-link {
	    margin-top: $spacing__small;
    }
    &:before,
	&:after {
	    position: absolute;
	    z-index: 2;
	    vertical-align: top;
	    line-height: 1em;
	    font-style: normal;
	    color: $color__brand-2;
    }
    &:before {
	    content: "\201C";
	    top: -0.22em;
	    left: 0;
	    font-size: 8em;
    }
}
.feature-testimonial {
	text-align: center;
	img {
		margin: 0 auto $spacing__medium auto;
	}
	blockquote {
		padding-right: $spacing__larger + $spacing__medium;
		margin-bottom: 0;
		line-height: $font__line-height-tight;
		@include bp-nav-switch() {
			@include font-size($font__size-h4);
		}
	    footer {
			padding-bottom: 0;
	    	border: 0;
			@include bp-nav-switch() {
				@include font-size($font__size-bigger);
			}
	    }
	    &:after {
		    content: "\201D";
		    bottom: -0.1em;
		    right: 0;
		    font-size: 5em;
		}
		+ p {
			margin: $spacing__large 0 0 0;
		}
	}
}