/* Footer  */
.section.site-footer {
	text-align: center;
	background: $color__tone-100;
	padding-top: $spacing__larger;
	padding-bottom: $spacing__large;
	color: $color__tone-40;
	@include bp-col-switch {
		text-align: left;
		padding-top: $spacing__largest;
	}
	.site-info-copy {
		clear: left;
		margin: 0;
		@include font-size($font__size-smallprint);
		@include bp-medium() {
			@include font-size($font__size-small);
		}
	}
	.col {
		margin-bottom: $spacing__large;
	}
	
	ul {
		list-style: none;
		padding: 0;
	}
	a {
		color: #fff;
		font-weight: $font__weight-bold;
		&:hover,
		&:focus {
			color: $color__brand-1-bright;
		}
	}
	
	
	/* Social Links */
	.social-links {
		.social-links-twitter {
			a {
				&:hover,
				&:focus {
					color: lighten($color__twitter, 5%);
				}
			}
		}
		.social-links-instagram {
			a {
				&:hover,
				&:focus {
					color: lighten($color__instagram, 10%);
				}
			}
		}
		.social-links-linkedin {
			a {
				&:hover,
				&:focus {
					color: lighten($color__linkedin, 5%);
				}
			}
		}
	}
	
}