.site-header {
	background: rgba(255,255,255,0.9);
	position: relative;
	z-index: 99;
	box-shadow: 0 1px 1px $color__tone-40;
	box-shadow: 0 0 3px $color__tone-80;
	text-align: center;
	
	.section-inner {
		padding: 0;
	}
	@include bp-mobile-legacy() {
		height: $header__height-mobile;
		.section-inner {
			padding: 0 $spacing__medium 0 0;
		}
	}
	@include bp-nav-switch() {
		height: $header__height;
	}
	.site-branding {
	}
}


@include bp-mobile-legacy() {
	.headroom {
	    position: fixed;
	    top: 0;
	    left: 0;
	    right: 0;
	    transition: all .25s ease-in-out;
	    .site-title,
	    .site-title a,
	    ul,
	    ul a {
			transition: all .25s ease-in-out;
	    }
	}
	//.headroom--unpinned {top: -5em;}
	.headroom--unpinned {
		height: $header__height-mobile;
		.site-branding {
			.site-title {
				//width: 73px;
				a {
					@include bp-nav-switch() {
						@include font-size($font__size-bigger);
						//height: 68px;
						margin-top: -0.3em;
					}
				}
			}
		}
		.main-navigation {
			ul {
				height: $header__height-mobile;
				li {
					a {
						line-height: $header__height-mobile;
					}
				}
			}
		}
		
		
	}
}