---
title: Prices & Payment Terms
---
<h3>Current Prices</h3>
<table>
  <tr>
    <th>Web Development:</th>
    <td><strong>£350</strong><small>+VAT per day</small></td>
  </tr>
  <tr>
    <th>Web Design:</th>
    <td><strong>£350</strong><small>+VAT per day</small></td>
  </tr>
  <tr>
    <th>Ongoing Support:</th>
    <td>
      <small>from</small> <strong>£75</strong><small>+VAT per month</small> (<a href="#support">See below</a>)
    </td>
  </tr>
</table>

{% set noticeTitle = "How much does a website cost?" %}
{% set noticeText = "See '<a href=\"#examples\">Example Prices</a>' below for example costs for some typical web projects." %}
{% include "components/notice.html" %}

<h3 id="support">Ongoing Support Prices</h3>

<p><strong>Save with ongoing support —</strong> keep your website ticking over, make content/design updates or improve your site's Search Engine Optimisation. By paying upfront you get more for your money. There is no minimum commitment and you can cancel at any time.</p>

<p>Here are typical prices for my support services:</p>

<table class="width-full">
  <thead>
    <tr>
      <th>Basic Support</th>
      <th>Standard Support</th>
      <th>Pro Performance Support</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <ul class="unstyled">
          <li>Weekly site backup</li>
          <li>WordPress and plugin updates</li>
          <li>Security firewall</li>
          <li>Site health check</li>
          <li>Minor updates</li>
        </ul>
      </td>
      <td>
        <ul class="unstyled">
          <li><strong>All 'Basic Support', plus:</strong></li>
          <li>Daily site backup</li>
          <li>Daily security checks</li>
          <li>3.5 hours of development time per month</li>
        </ul>
      </td>
      <td>
        <ul class="unstyled">
          <li><strong>All 'Basic Support', plus:</strong></li>
          <li>One full day of performance and SEO-focussed development time per month</li>
          <li>Site uptime monitoring every minute</li>
          <li>Broken link checks</li>
          <li>Weekly site performance checks</li>
          <li>Monthly report document</li>
        </ul>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td><strong>£75</strong><small>+VAT per month</small></td>
      <td><strong>£150</strong><small>+VAT per month</small></td>
      <td><strong>£350</strong><small>+VAT per month</small></td>
    </tr>
  <tfoot>
</table>

<h3>Payment Terms & Conditions</h3>
<ul>
  <li>A deposit is required to be paid before commencement of work, followed by interim payment(s) at appropriate stages throughout the project.</li>
  <li>The exact terms will be finalised and agreed by both parties before commencement of work and a contract will be required outlining these agreed terms.</li>
  <li>Only once full payment is received will your site be transferred to your ownership (e.g. transferred to the live server).</li>
  <li>Included within the standard terms and conditions are 14 days of free technical support after your site goes live to ensure that that every target that was set out in the project brief has been met.</li>
  <li>If you require to make any changes or updates after the 14 day support period, additional development time is available at my standard daily rate. Reduced rates are available for long-term commitments.</li>
  <li>You may terminate the project at anytime but you will be required to pay for the work already carried out up to the point of termination.</li>
  <li>Monthly ongoing support requires payment each month before work commences. There is no minimum term and you may cancel at any time.</li>
  <li>By agreeing to proceed with any project it is understood that you are committing to the above terms.</li>
</ul>

<h3 id="examples">Example Prices</h3>

<p>It is advised that you consider your requirements and define a rough budget before enquiring about prices. That way I can work to accommodate your requirements within your budget. However, if you would like an idea of costs, below gives a rough guide of what you can expect to pay.</p>

<table>
  <thead>
    <tr>
      <th>5 page brochure site</th>
      <th>E-commerce site</th>
      <th>iOS App</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <ul>
          <li>Brochure style website</li>
          <li>WordPress setup</li>
          <li>Content review</li>
          <li>Responsive, SEO friendly template (e.g. approx. 3 different layouts)</li>
          <li>Branding integration</li>
          <li>Basic integrations (e.g. contact form, social sharing, analytics)</li>
          <li>Site launch and quality check</li>
        </ul>
      </td>
      <td>
        <ul>
          <li><em>All '5 page brochure site', plus&#8230;</em></li>
          <li>E-commerce integration with WooCommerce</li>
          <li>Payment facility set-up (e.g. Paypal, Stripe)</li>
          <li>Multiple products across multiple categories</li>
          <li>Advanced search functionality</li>
          <li>Approx. 5 different page layouts</li>
        </ul>
      </td>
      <td>
        <ul>
          <li>Dual platform iOS App — iPhone and iPad</li>
          <li>Bespoke design</li>
          <li>Approx. 5 sections with a range of content</li>
          <li>Integration with your website's data</li>
          <li>3rd-party API data integration</li>
          <li>Testing and deployment to the App Store</li>
        </ul>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td>
        <small>4 days @ £350 per day =</small><br />
        <strong>£1,400.00</strong><small>+VAT</small>
      </td>
      <td>
        <small>12 days @ £350 per day =</small><br />
        <strong>£4,200.00</strong><small>+VAT</small>
      </td>
      <td>
        <small>24 days @ £350 per day =</small><br />
        <strong>£8,400.00</strong><small>+VAT</small>
      </td>
    </tr>
  <tfoot>
</table>

{% set noticeTitle = "Ready to chat?" %}
{% set noticeText = "<a href=\"/contact\">Get in touch</a> with me and see if I can help your project!" %}
{% include "components/notice.html" %}