// First up: config and functions
@import 'config';

// // Set gorko to output no CSS for this file
// $outputTokenCSS: false;

// Next: pull in gorko for design tokens
@import '../../../node_modules/gorko/gorko.scss';

@import 'reset';

// Global styles start
:root {
  --flow-space: #{get-size('600')};
}

body {
  background: #fff;
  color: get-color('tone-800');
  font-size: 1.1rem;
  @include media-query('sm') {
    font-size: 1.2rem;
  }

  @include apply-utility('font', 'base');
}

a {
  color: currentColor;
  text-decoration-color: get-color('brand-3');
  &:hover,
  &:focus {
    text-decoration-color: get-color('brand-2');
  }
}

:focus {
  outline: 2px dashed get-color('brand-2');
  outline-offset: 1px;
}

main:focus {
  outline: none;
}

h1,
h2,
h3,
h4 {
  font-weight: 900;
  @include apply-utility('leading', 'tight');
}

h1,
h2 {
  @include apply-utility('font', 'sans');
  font-size-adjust: 0.8;
  letter-spacing: -0.075rem;
}

/* Limit line length for better readability */
h1, h2, h3, h4, h5, h6, p, ul:not([class]), ol:not([class]), textarea, dl {
	max-width: 50rem;
}

// High contrast selection because it can help visually-impaired
// folks read the text easier
::selection {
  color: get-color('tone-100');

  // We set this as an RGBA because that's how you get a solid color, by using 0.99
  // alpha value. Browsers are wild.
  background: rgba(get-color('tone-800'), 0.99);
}

// Import blocks
@import 'blocks/anchor-link';
@import 'blocks/blockquotes';
@import 'blocks/card-link';
@import 'blocks/definition-lists';
@import 'blocks/header';
@import 'blocks/footer';
@import 'blocks/forms';
@import 'blocks/navigation';
@import 'blocks/notice';
@import 'blocks/page-header';
@import 'blocks/pagination';
@import 'blocks/posts';
@import 'blocks/preview';
@import 'blocks/section';
@import 'blocks/skip-link';
@import 'blocks/site-article';
@import 'blocks/tables';

// Import utilities
@import 'utilities/auto-flex';
@import 'utilities/auto-grid';
@import 'utilities/flow';
@import 'utilities/section-link';
@import 'utilities/site-wrap';
@import 'utilities/styled-scroll';
@import 'utilities/wrapper';
@import 'utilities/visually-hidden';

// Move to page-specific
@import 'blocks/image-group';
@import 'blocks/metrics';
@import 'blocks/wave';
@import 'blocks/screenshots';
@import 'blocks/feedback';


/*--------------------------------------------------------------
# Work In Progress
--------------------------------------------------------------*/
del + ins {
	font-size: 1rem;
	text-decoration: none;
	background: yellow;
	padding: 2px 8px;
	font-weight: bold;
}
em > strong {
	background-color: get-color('brand-1-light');
	text-decoration: none;
	padding-left: 0.4rem;
	padding-right: 0.4rem;
	padding-bottom: 0.2rem;
}

.feature-list {
  &.auto-grid {
    padding-top: get-size('600');
    --auto-grid-min-size: 14rem;
  }
  &__item-title {
    margin-bottom: get-size('400');
  }

  ul {
    list-style: disc;
    padding-left: get-size('600');
  }
  
}