// First up: config and functions
@import 'config';

// Import utilities
@import 'utilities/auto-grid';
@import 'utilities/flow';
@import 'utilities/visually-hidden';

// Set gorko to output no CSS for this file
$outputTokenCSS: false;

// Next: pull in gorko for design tokens
@import '../../../node_modules/gorko/gorko.scss';


// Generic styles
time[datetime] {
  display: block;
  color: get-color('primary-shade');
  font-size: get-size('700');
  font-style: italic;
}

.skip-link {
  position: absolute;
  top: get-size('400');
  left: get-size('400');
  z-index: 99;

  // @extends should be used with care, but this is a great example of them being hella useful
  &:not(:focus) {
    @extend .visually-hidden;
  }
}


.pagination {
  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  // Pushes a sole "next" link out to the right
  &__inner > [data-direction='forwards'] {
    margin-inline-start: auto;
  }
}

body > main {
  @include apply-utility('leading', 'loose');
}

> * {
  @include apply-utility('measure', 'long');
}

blockquote {
  border-inline-start: 1rem solid get-color('quinary');
  padding-inline-start: get-size('600');
  padding-top: get-size('500');
  padding-bottom: get-size('500');
  font-style: italic;
}

.wrapper {
  max-width: 70rem;
  padding: 0 get-size('500');
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

/*--------------------------------------------------------------
# Minimal Reset
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
	font-size: 16px;
}
*, *:before, *:after {
	box-sizing: inherit;
}

/*--------------------------------------------------------------
# Variables
--------------------------------------------------------------*/
@import "variables/variables";

/*--------------------------------------------------------------
# Mixins
--------------------------------------------------------------*/
@import "mixins/mixins-master";

/*--------------------------------------------------------------
# HTML Elements
--------------------------------------------------------------*/
@import "elements/elements";

/*--------------------------------------------------------------
# Design
--------------------------------------------------------------*/
// @import "design/design";

/*--------------------------------------------------------------
# Work In Progress
--------------------------------------------------------------*/
/* Header  */
body > header {
}

del a {
    pointer-events: none;
}

/* Main  */
body > main {
}

h1,h2,h3,h4,h5,h6,p {
	max-width: 50rem;
}


/* Social Links */
.social-links {
	margin-top: var(--spacing__smaller);
	list-style: none;
	padding: 0;
	margin-bottom: 0;
	li {
		margin-right: 5%;
		display: inline-block;
		&:last-of-type {
			margin-right: 0;
		}
		a {
			color: inherit;
		}
	}
	
	[class^="icon-"] {
		font-size: var(--font__size-h2);
		display: block;
		
		a {
			transition: var(--transition__color);
			&:hover,
			&:focus {
				border-bottom: dotted 1px;
			}
		}
	}
}
.social-links-twitter {
	color: var(--color__twitter);
}
.social-links-instagram {
	color: var(--color__instagram);
}
.social-links-linkedin {
	color: var(--color__linkedin);
}

.w-centre {
    text-align: center;
}

.clear:before,
.clear:after {
	@include clearfix;
}

.clear:after {
	@include clearfix-after;
}

.embed-container {
	position: relative;
	padding-bottom: 56.25%;
	margin-bottom: var(--spacing__medium);
	height: 0;
	overflow: hidden;
	max-width: 100%;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

// Form columns
.form-col {
    @include bp-mobile-landscape() {
        width: 48.5%;
        width: calc(50% - 16px);
        float:left;
        clear: left;
        &:nth-of-type(2n+2) {
            margin-left: 3%;
            margin-left: calc(16px * 2);
        }
        &:nth-of-type(2n+1) {
            + li {
                clear: left;
            }
            + .form-col {
                clear: none;
            }
        }
    }
}
form .form-col {
    width: 48.5%;
    width: calc(50% - 16px);
    display: inline-flex;
    flex-direction: column;
}
form .form-col:nth-of-type(2n+2) {
    float: right;
}
.form-required label span {
    color: #ff1a1a;
    font-size: 36px;
    font-size: 2.25rem;
    line-height: 1;
    float: right;
    padding-right: 0.2em;
    height: 0.5em;
}




.screenshots {
	text-align: center;
	background-color: var(--color__brand-2);
	position: relative;
	margin-top: 5rem;
}
.screenshots__title {
	color: var(--color__brand-2);
    font-size: 3rem;
    position: absolute;
    top: -2.6rem;
    text-transform: uppercase;
    font-weight: bold;
}
.screenshots__image {
	box-shadow: 0 15px 35px var(--color__tone-80);
	border-radius: 8px;
	margin: 75px auto;
    display: block;
}
.screenshots__image--mobile {
    display: inline-flex;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 0;
}

.image-group {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 22vw 22vw 10vw;
	grid-gap: 5px;
}

.image-group--twothird img {
	// box-shadow: 0 2px 10px var(--color__tone-80);
	// border-radius: 8px;
	width: 100%;
    height: 100%;
    object-fit: cover;
}
.image-group--twothird img:first-of-type {
	grid-column: 1 / 13;
}
.image-group--twothird img:nth-of-type(2) {
	grid-column: 1 / 7;
	grid-row: 2 / 4;
}
.image-group--twothird img:last-of-type {
	grid-column: 7 / 11;
}
.image-group__title {
	grid-column: 7 / 11;
    padding: 0.5rem 2rem 0 0.65rem;
    font-size: 15px;
    color: var(--color__tone-60);
}



.w-paper {
	padding: 10px;
    border: 1px solid #ddd;
    background-color: #f3d091;
    box-sizing: border-box;
    position: relative;
    top: 30px;
	box-shadow: 1px 1px 2px #555;
	opacity: 0.9;
  }
  
  .w-paper:after {
	content: "";
	display: block;
	position: absolute;
	border: 50px solid transparent;
	border-bottom: 50px solid #fefefe;
	bottom: -60px;
	right: -65px;
	box-shadow: 0px 7px 6px -9px black;
	transform: rotate(135deg);
  }
  
  .w-paper:before {
	content: "";
	display: block;
	position: absolute;
	border: 50px solid transparent;
	border-top: 50px solid #fefefe;
	top: -60px;
	left: -65px;
	box-shadow: 0px -7px 6px -9px black;
	transform: rotate(135deg);
  }
.image-group__title {
	// font-size: 15px;
	//   padding: 10px 10px;
	//   margin: 10px 0;
	//   background: rgba(255,255,255, 0.9);
	//   max-width: 100ch;
	//   box-shadow: 1px 1px 2px #555;
}

.wrapper {
	padding: unquote("1rem max(1rem, (50% - 585px))");
}

body {
	margin: 0;
}


figure {
	margin: 0;
}


h1, h2, h3, h4, h5, h6 {
	color: var(--color__brand-1);
}

/* Bandstands */
[data-theme="bandstands"] {
	--color__brand-2: purple;
}
/* The Dough Shack */
[data-theme="the-dough-shack"] {
	--color__brand-2: #1E9AA9;
}
/* Galbani */
[data-theme="galbani"] {
	--color__brand-2: #1E9AA9;
}
/* Navigator Partnership */
[data-theme="navigator-partnership"] {
	--color__brand-2: #dd6a2c;
}
/* The Pet Business */
[data-theme="the-pet-business"] {
	--color__brand-2: #9e9fbe;
}
/* VariPrint */
[data-theme="variprint"] {
	--color__brand-2: #EB5240;
}
/* SooUK */
[data-theme="soouk"] {
	--color__brand-2: var(--color__tone-60);
}

