// First up: config and functions
@import 'config';

// Next: pull in gorko for design tokens
@import '../../../node_modules/gorko/gorko.scss';

@import 'reset';

// Global styles start
:root {
  --flow-space: #{get-size('600')};
}

body {
  background: #fff;
  color: get-color('tone-800');
  line-height: 1.5;
  font-size: get-size('500');

  @include apply-utility('font', 'base');
}

a:not([class]) {
  color: currentColor;
  text-decoration-color: get-color('brand-2-mid');
}

:focus {
  outline: 2px dashed get-color('brand-1');
  outline-offset: 0.25rem;
}

main:focus {
  outline: none;
}

h1,
h2,
h3,
h4 {
  font-weight: 900;
  
  @include apply-utility('font', 'sans');
  @include apply-utility('leading', 'tight');
}

// High contrast selection because it can help visually-impaired
// folks read the text easier
::selection {
  color: get-color('tone-200');

  // We set this as an RGBA because that's how you get a solid color, by using 0.99
  // alpha value. Browsers are wild.
  background: rgba(get-color('tone-800'), 0.99);
}

// Import blocks
@import 'blocks/skip-link';

// Import utilities
@import 'utilities/auto-grid';
@import 'utilities/flow';
@import 'utilities/visually-hidden';
@import 'utilities/wrapper';