// Site Widths
$size__site-main: 100%;
$size__site-sidebar: 32.1833333%;
$size__site-sidebar-wide: 32.1833333%;

// Site Content Widths
$size__content-max-width: 75em;
$size__content-max-width-narrow: 56em;
$size__content-max-width-narrower: 45em;
$size__content-max-width-wide: 100em;
//$size__content-max-width-features: 51.875em;
//$size__content-max-width-narrower: 26em;
//$size__content-max-width-narrowest: 18em;
//$size__content-max-width-content: 42.5em;

// Gutter Widths
$size__site-gutters: 1.725%;

// Spacing
$spacing__smallest: 0.2em;
$spacing__smaller: 0.5em;
$spacing__small: 0.8075em;
$spacing__medium: 1.4375em;
$spacing__large: 2em;
$spacing__larger: 2.6em;
$spacing__largest: 4em;
$spacing__forms-input-padding: $spacing__smaller;
$spacing__forms-button-padding: $spacing__small $spacing__medium ($spacing__smaller + $spacing__smallest) $spacing__medium;

// Misc
$header__height-mobile: 46px;
$header__height: 86px;
//$header__height-outer: 0;
//$features__max-height: 650px; // Full-width images, maximum height
//$features__padding-ratio: 32%; // Full-width images, responsive aspect ratio via padding-bottom
$var__max-form-input-width: 26em;