.section-link {
  display: inline-block;
  text-decoration-style: wavy;
  color: currentColor;
  text-decoration-color: get-color('brand-3');
  line-height: 1;
  font-weight: bold;
  
  &:hover,
  &:focus {
    text-decoration-color: get-color('brand-2');
  }
}