---
title: Bandstands
featured: true
description: A cross-platform app allowing participants to navigate and discover 8 historical bandstands across Edinburgh & Musselburgh. In collaboration with the Arty Walk Porty project with soundscapes by composer Ross Whyte.
projectMeta: {
  'Project Type': 'iOS and Android App',
  'Built Using': 'React, Expo',
  'Credits': 'Design by <a href=\"https://www.rosydesigns.co.uk/\">Rosy Naylor</a>'
}
previewImage: bandstands-00-preview.jpg
screenshotsAlt: They show a visual design that could be described as minimal yet playful with a green and purple colour scheme and featuring old photographs of historic bandstands.
screenshotsMobile:
  - src: bandstands-00.jpg
    alt: Bandstands app intro screen
  - src: bandstands-01.jpg
    alt: Bandstands app locations listing screen
  - src: bandstands-02.jpg
    alt: Bandstands app menu popup
  - src: bandstands-03.jpg
    alt: Bandstands app location screen with waypoint indicator
  - src: bandstands-04.jpg
    alt: Bandstands app map screen, showing location markers
imageGroups: {
  'a': {
    'image1': 'dismantling-of-bandstand.jpg',
    'image2': 'art-walk-porty-bandstands-location-post-2.jpg',
    'image3': 'art-walk-porty-bandstands-location-post.jpg',
    'alt': 'Workers dismantling an old Edinburgh bandstand&nbsp;<small aria-disabled="true">(top)</small>, an example of a waypoint location for the app&nbsp;<small aria-disabled="true">(left)</small>, and another waypoint, showing the 8 locations&nbsp;<small aria-disabled="true">(right)</small>.'
  },
  'b': {
    'image1': 'bandstands-app-in-use-00.jpg',
    'image2': 'bandstands-app-in-use-01.jpg',
    'image3': 'bandstands-app-in-use-02.jpg',
    'alt': 'The app in use on an iPhone, showing the Bandstands list, the main menu and the map screen, with each bandstand location marked.'
  },
  'c': {
    'image1': 'art-walk-porty-portobello-community-choir.jpg',
    'alt': "'The Great Exhibition' performance by the Portobello Community Choir."
  },
  'd': {
    'image1': 'art-walk-porty-portobello-beach-horizon.jpg',
    'image2': 'art-walk-porty-entertainers-on-stilts.jpg',
    'image3': 'art-walk-porty-studio-location-sign.jpg',
    'alt': 'Edinburgh Portobello beach front&nbsp;<small aria-disabled="true">(top)</small>, performers on stilts entertain the crowd along Portobello promenade&nbsp;<small aria-disabled="true">(left)</small> and an Art Walk Porty Studio location marker&nbsp;<small aria-disabled="true">(right)</small>.'
  }
}
---
<p>The <a href="https://www.artwalkporty.co.uk/">Arty Walk Porty</a> project, run by <a href="https://www.rosydesigns.co.uk/">Rosy Naylor</a>, conceived of an immersive sound-based performance and exhibition to celebrate and commemorate 8 historical bandstands across Edinburgh & Musselburgh. A range of events and exhibitions took place, including musical performances across various locations and culminating in a procession along Portobello promenade.</p>

<blockquote>
  <p>Marking the spaces of where bandstands once stood, and some still do, this project brings together a sense of discovery through sound...</p>
  <footer>— <strong>Rosy Naylor, Platform Designs, Edinburgh</strong></footer>
</blockquote>

{% set imageGroupItems = imageGroups.a %}
{% set imageGroupModifier = "thirds" %}
{% set imageGroupID = "01" %}
{% include "partials/image-group.html" %}

<p>To enhance participants' experience, a mobile app was created, encouraging users to visit all 8 bandstand sites. Each location within the app features an accompanying melodic loop composed by sound artist <a href="https://www.rosswhyte.com/">Ross Whyte</a>, and performed by the Portobello Community Choir.</p>

<h3>"As I walk, I glimpse, I hear..."</h3>

<p>The user is guided towards each location and when they are close the sound file begins playing, increasing in volume as they get closer. Once close enough the location is 'unlocked' — alternatively the user can scan a QR code that was printed on physical markers at each location.</p>

{% set imageGroupItems = imageGroups.b %}
{% set imageGroupModifier = "row" %}
{% set imageGroupID = "02" %}
{% include "partials/image-group.html" %}

<p>As each location is 'collected' the user is rewarded with imagery, historical information and the loop becomes playable. When 3 or more are visited the user can combine the collected loops to form a unique composition. Together all loops form a complete song, entitled 'The Great Exhibition'.</p>

{% set imageGroupItems = imageGroups.c %}
{% set imageGroupModifier = "single" %}
{% set imageGroupID = "03" %}
{% include "partials/image-group.html" %}

<p>The app itself is build using React, along with the <a href="https://expo.io/">Expo</a> framework. This utilises React Native components and allows access to mobile device features via their various APIs, namely:</p>

<ul>
  <li>Camera (for QR code scanning)</li>
  <li>Geolocation and Device Motion (for maps and waypoints)</li>
  <li>Keep Awake (for keeping the app and sound active)</li>
</ul>

{% set imageGroupItems = imageGroups.d %}
{% set imageGroupModifier = "thirds" %}
{% set imageGroupID = "04" %}
{% include "partials/image-group.html" %}

<p>There are plans to create a follow up event and accompanying, this time with a focus on cycling — encouraging users to explore their local surroundings on bike and interact by adding photos, comments and so on. It is hoped the event can go ahead in 2021 and the app would be available late 2020.</p>