.site-header {
	padding-top: get-size('300');
	padding-bottom: get-size('600');

	/* Branding / Logo */
	&__branding {
		font-size: get-size('700');
		@include apply-utility('font', 'base');
		line-height: 1;
		display: block;
		margin-right: get-size('700');
		font-weight: bold;

		span {
			display: none;
			@media screen and (min-width: 44rem) {
				display: initial;
			}
		}
	}

	/* Navigation menu */
	nav {
		line-height: get-size('700');
		font-weight: bold;
		li {
			font-size: clamp(1rem, 2.5vw, 2rem); 
			@media screen and (min-width: 44rem) {
				font-size: get-size('500');
			}
			&:not(:last-child) {
				margin-right: get-size('300');
			}
			/* Hide 'Home' on small screens */
			&:first-child {
				display: none;
				@media screen and (min-width: 28rem) {
					display: initial;
				}
			}
		}
	}

	/* Notice text */
	&__alert {
		flex-basis: 100%;
		margin-top: get-size('600');
		@include media-query('sm') {
			margin-top: get-size('600') + get-size('600');
		}
		strong em {
			display: inline-block;
		}
	}

}