.navigation {
	&__title {
		margin-bottom: get-size('300');
	}

	&--contextual {
		$bg: lightblue;
		padding: (get-size('900')) 0 (get-size('900')) 100px;
		@include media-query('sm') {
			padding-top: (get-size('800') * 2);
			padding-bottom: (get-size('800') * 2);
		}
		background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100'><circle cx='50' cy='50' r='50' fill='#{$bg}'/></svg>");
		background-size: auto 100%;
		background-position: 0 0;
		background-repeat: no-repeat;
		z-index: -1;
		margin-left: -100px;
		margin-bottom: get-size('600') * 2;
	  overflow: hidden;

		.navigation__item {
			margin-bottom: get-size('400');
			@include apply-utility('leading', 'tight');
			display: flex;
			a, del {
				font-size: get-size('500');
			}
			a {
				text-decoration-style: wavy;
				line-height: 1;
			}
			@include media-query('sm') {
				font-size: get-size('500');
				a, del {
					font-size: get-size('600');
				}
			}

		}
	}

}

.navigation__item-separator {
	display: inline-block;
	margin-left: get-size('100');
}