
.screenshots {
  --auto-grid-min-size: 16rem;
  --auto-grid-gap: #{get-size("800")};
  --flow-space: #{get-size("800")};
	// padding-top: get-size('900');
  padding-bottom: get-size('900');
  background-color: get-color('tone-200');

  &__title {
    font-size: get-size('600');
    &::before {
      content: "";
      display: block;
      width: 6rem;
      height: 5px;
      background: black;
      margin-bottom: get-size('700');
    }
  }

  &__image {
    border-radius: 8px;
    box-shadow: 0 4px 12px get-color('tone-600');
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}