.section {
  padding-top: get-size('600');
  padding-bottom: get-size('600');

  &__title {
    font-size: get-size('700');
    @include media-query('md') {
      font-size: get-size('800');
    }
  }

  &__link {
    @extend .section-link;
  }
}