<!DOCTYPE html>
<html lang="en-GB" class="no-js">
  <head>

    {% include "partials/meta.html" %}

    {%- set css %}
      {% include "../../assets/css/critical.css" %}
    {% endset -%}
    {% if css %}
    <style>
      /* Critical CSS */
      {{ css | cssmin | safe }}
    </style>
    {% endif %}

    <link href="https://fonts.googleapis.com/css?family=Karla:400,700|Quicksand:400,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">

  </head>

  <body
    id="main-body"
    {%- if page.url == "/" %} class="home"
    {%- elseif "work" | urlmatch(page.url) %} data-theme="{{page.fileSlug}}"
    {%- endif -%}
  >

    {% include "partials/header.html" %}

    <main tabindex="-1" id="main-content">
      {{ content | safe }}
    </main>

    {% include "partials/footer.html" %}

    {% set js %}

      {% include "../../assets/js/app.js" %}

      {% if page.url | url == "/contact/" %}
        {% include "../../assets/js/form.js" %}
      {% endif %}

    {% endset %}
    <script>
      document.documentElement.className = document.documentElement.className.replace( 'no-js', 'js' );
      {{ js | jsmin | safe }}
    </script>
  </body>
</html>
