---
layout: base
---
<article class="[ site-article ] wrapper flow">

  {% if screenshots.length or screenshotsMobile.length %}
    {% set headerInclude = "partials/anchor-link.html" %}
    {% set anchorLinkID = "screenshots" %}
    {% set anchorLinkLabel = "Go to screenshots" %}
  {% endif %}
  {% include "partials/page-header.html" %}

  <h2>About this project</h2>

  {% if projectMeta %}
    <ul>
    {% for name, item in projectMeta %}
      <li><strong>{{ name | safe }}:</strong> {{ item | safe }}</li>
      {% if linkUrl %}<li><a href="{{linkUrl}}" title="Visit {{displayUrl}}"><strong>Visit site</strong>: <strong>{{displayUrl or linkUrl}}</strong></a></li>{% endif %}
    {% endfor %}
    </ul>
  {% endif %}
              
  {{ content | safe }}

  {% if testimonial -%}
  <h3>What the client said:</h3>
  <blockquote>
    {{ testimonial | safe }}
    <footer>— {{ testimonialAuthor }}</footer>
  </blockquote>
  {%- endif %}

</article>

<aside id="screenshots" class="[ screenshots ]">

  {% if screenshots.length or screenshotsMobile.length -%}
  <figure role="group" class="wrapper flow">
    <figcaption class="[ screenshots__title ]"><h2>Screenshots<span class="visually-hidden"> for {{title}}.{%- if screenshotsAlt %} {{ screenshotsAlt }}{% endif -%}</span></h2></figcaption>
    {% if screenshots.length -%}
      {% for image in screenshots %}
        <img 
        src="/assets/img/{{image.src}}?nf_resize=fit&amp;w=1078"
        srcset="
          /assets/img/{{image.src}}?nf_resize=fit&amp;w=375 375w,
          /assets/img/{{image.src}}?nf_resize=fit&amp;w=768 768w,
          /assets/img/{{image.src}}?nf_resize=fit&amp;w=1078 1078w
        "
        sizes="(max-width: 1077px) 100vw, 1078px">
        alt="{% if image.alt %}{{image.alt}}{% endif %}" class="[ screenshots__image ]" loading="lazy">
      {% endfor %}
    {%- endif %}
    {% if screenshotsMobile.length -%}
      <div class="auto-grid">
        {% for image in screenshotsMobile %}
        <img
        src="/assets/img/{{image.src}}?nf_resize=fit&amp;w=652"
        srcset="
          /assets/img/{{image.src}}?nf_resize=fit&amp;w=375,
          /assets/img/{{image.src}}?nf_resize=fit&amp;w=488 1.5x,
          /assets/img/{{image.src}}?nf_resize=fit&amp;w=652 2x
        "
        alt="{% if image.alt %}{{image.alt}}{% endif %}" class="[ screenshots__image screenshots__image--mobile ]" loading="lazy">
        {% endfor %}
      </div>
    {%- endif %}
  </figure>
  {%- endif %}

</article>