---
layout: base
---
<article class="wrapper flow">

  <header class="flow">

    <h1>
    {% if icon %}
      <img src="/assets/img/{{icon}}" class="icon" alt="" role="presentation" loading="lazy" />
    {% endif %}
    {{title}}</h1>

    {% if projectMeta %}
      <ul class="meta">
      {% for name, item in projectMeta %}
        <li><strong>{{ name | safe }}:</strong> {{ item | safe }}</li>
        {%if linkUrl %}<li><a href="{{linkUrl}}" title="Visit {{displayUrl}}"><strong>Visit site</strong>: <strong>{{displayUrl or linkUrl}}</strong></a></li>{% endif %}
      {% endfor %}
      </ul>
    {% endif %}

    {%if subtitle %}<h2>{{ subtitle }}</h2>{% endif %}
    {%if description %}<h3>{{ description }}</h3>{% endif %}

    {%if screenshots.length or screenshotsMobile.length -%}
      <p><a href="#screenshots">Go to screenshots</strong></a></p>
    {%- endif %}

  </header>

  <h2>About this project</h2>
              
  {{ content | safe }}

  {# {% for image in images %}
    <img width="875" height="1177" src="/assets/img/{{image.large}}.jpg" alt="{{title}} Screenshot"
      srcset="/assets/img/{{image.large}} 875w, /assets/img/{{image.medium}} 535w, /assets/img/{{image.small}} 400w, /assets/img/{{image.full}} 1329w"
      sizes="(max-width: 875px) 100vw, 875px"
      loading="lazy"
    />
  {% endfor %} #}

  {%if testimonial -%}
  <h3>What the client said:</h3>
  <blockquote>
    {{ testimonial | safe }}
    <footer>— {{ testimonialAuthor }}</footer>
  </blockquote>
  {%- endif %}

</article>

<aside id="screenshots">

  {%if screenshots.length or screenshotsMobile.length -%}
  <figure role="group" class="screenshots wrapper flow">
    <figcaption class="screenshots__title">Screenshots<span class="visually-hidden"> for {{title}}.{%- if screenshotsAlt %} {{ screenshotsAlt }}{% endif -%}</span></figcaption>
    {%if screenshots.length -%}
      {% for image in screenshots %}
      <img src="/assets/img/{{image.src}}" alt="{% if image.alt %}{{image.alt}}{% endif %}" class="screenshots__image" loading="lazy">
      {% endfor %}
    {%- endif %}
    {%if screenshotsMobile.length -%}
      <div class="screenshots__mobile auto-grid">
        {% for image in screenshotsMobile %}
        <img src="/assets/img/{{image.src}}" alt="{% if image.alt %}{{image.alt}}{% endif %}" class="screenshots__image screenshots__image--mobile" loading="lazy">
        {% endfor %}
      </div>
    {%- endif %}
  </figure>
  {%- endif %}

</article>