---
layout: portfolio
title: Don't Give Fire A Home
description: A Scottish Government backed project aimed at providing fire safety advice to the public and to encourage them to book a free home fire safety visit from their local fire authority.
---

<div
  id="post-192"
  class="post-192 portfolio type-portfolio status-publish has-post-thumbnail hentry"
>
  <div class="cols clear archived-portfolio">
    <div class="entry-content col">
      <h1 class="entry-title">{{title}}</h1>
      <div class="entry-meta">
        <p>Built using: <strong>Wordpress</strong></p>
        <p>Project Type: <strong>Website</strong></p>
        <p>Credits: <strong>Design by Scott Ogilvie</strong></p>
      </div>
      <p>
        <a
          href="http://dontgivefireahome.org/"
          title="Visit "
          rel="bookmark"
          class="block-link"
          >Visit: <strong>dontgivefireahome.org</strong></a
        >
      </p>
      <p>
        This is a
        <a
          title="The Scottish Government website"
          href="http://www.scotland.gov.uk/"
          >Scottish Government</a
        >
        backed project aimed at providing fire safety advice to the public and
        to encourage them to book a free home fire safety visit from their local
        fire authority.
      </p>
      <p>
        The site features a wide variety of custom content areas including
        widgets, a dynamic slideshow, document uploads, video embedding and
        interactive quizzes.
      </p>
      <p>
        The site features a booking form system that allows visitors to book a
        fire safety visit, or recommend their friend for a visit. The relevant
        fire authority is then automatically informed.
      </p>
    </div>

    <ul class="portfolio-images col">
      <li>
        <img
          width="875"
          height="736"
          src="/assets/img/Dont-Give-Fire-A-Home-01-875x736.jpg"
          class="attachment-large size-large"
          alt="Dont Give Fire A Home home page"
          srcset="
            /assets/img/Dont-Give-Fire-A-Home-01-875x736.jpg  875w,
            /assets/img/Dont-Give-Fire-A-Home-01-535x450.jpg  535w,
            /assets/img/Dont-Give-Fire-A-Home-01-400x336.jpg  400w,
            /assets/img/Dont-Give-Fire-A-Home-01.jpg         1237w
          "
          sizes="(max-width: 875px) 100vw, 875px"
        />
      </li>
      <li>
        <img
          width="875"
          height="699"
          src="/assets/img/Dont-Give-Fire-A-Home-02-875x699.jpg"
          class="attachment-large size-large"
          alt="Dont Give Fire A Home quiz"
          srcset="
            /assets/img/Dont-Give-Fire-A-Home-02-875x699.jpg  875w,
            /assets/img/Dont-Give-Fire-A-Home-02-535x427.jpg  535w,
            /assets/img/Dont-Give-Fire-A-Home-02-400x319.jpg  400w,
            /assets/img/Dont-Give-Fire-A-Home-02.jpg         1237w
          "
          sizes="(max-width: 875px) 100vw, 875px"
        />
      </li>
      <li>
        <img
          width="875"
          height="736"
          src="/assets/img/Dont-Give-Fire-A-Home-03-875x736.jpg"
          class="attachment-large size-large"
          alt="Dont Give Fire A Home videos page"
          srcset="
            /assets/img/Dont-Give-Fire-A-Home-03-875x736.jpg  875w,
            /assets/img/Dont-Give-Fire-A-Home-03-535x450.jpg  535w,
            /assets/img/Dont-Give-Fire-A-Home-03-400x336.jpg  400w,
            /assets/img/Dont-Give-Fire-A-Home-03.jpg         1237w
          "
          sizes="(max-width: 875px) 100vw, 875px"
        />
      </li>
      <li>
        <img
          width="875"
          height="924"
          src="/assets/img/Dont-Give-Fire-A-Home-04-875x924.jpg"
          class="attachment-large size-large"
          alt="Dont Give Fire A Home booking form"
          srcset="
            /assets/img/Dont-Give-Fire-A-Home-04-875x924.jpg  875w,
            /assets/img/Dont-Give-Fire-A-Home-04-535x565.jpg  535w,
            /assets/img/Dont-Give-Fire-A-Home-04-400x422.jpg  400w,
            /assets/img/Dont-Give-Fire-A-Home-04.jpg         1237w
          "
          sizes="(max-width: 875px) 100vw, 875px"
        />
      </li>
    </ul>
  </div>
</div>
