---
layout: portfolio
title: Enquire
description: 
---

<div
  id="post-49"
  class="post-49 portfolio type-portfolio status-publish has-post-thumbnail hentry tag-accessibility tag-children tag-education tag-scottish-government"
>
  <div class="cols clear archived-portfolio">
    <div class="entry-content col">
      <h1 class="entry-title">{{title}}</h1>
      <div class="entry-meta">
        <p>Built using: <strong>Wordpress</strong></p>
        <p>Project Type: <strong>Website</strong></p>
        <p>
          Credits:
          <strong
            >Design by
            <a href="http://www.postcreative.co.uk/">Post Creative</a>,
            Glasgow</strong
          >
        </p>
      </div>
      <p>
        <a
          href="http://enquire.org.uk/"
          title="Visit "
          rel="bookmark"
          class="block-link"
          >Visit: <strong>enquire.org.uk</strong></a
        >
      </p>
      <p>
        Enquire are a Scottish advice service providing learning support
        services. They are managed by
        <a
          title="Children In Scotland, Edinburgh website"
          href="http://www.childreninscotland.org.uk/"
          >Children in Scotland</a
        >
        and funded by the
        <a href="http://www.scotland.gov.uk/">Scottish Government</a>.
      </p>
      <p>
        Their website required comprehensive redesign and restructure that
        presented several challenges from a web development architecture
        perspective.
        <a
          title="View posts tagged with WordPress"
          href="https://stevenpark.co.uk/tag/wordpress/"
          >WordPress</a
        >
        was chosen as it provided the flexibility required, whilst being easy to
        use. Additionally, the site has a strong focus on accessibility
        standards, with additional features to aid navigation.
      </p>
    </div>

    <ul class="portfolio-images col">
      <li>
        <img
          width="875"
          height="974"
          src="/assets/img/Enquire-01-875x974.jpg"
          class="attachment-large size-large"
          alt="Enquire website home page"
          srcset="
            /assets/img/Enquire-01-875x974.jpg  875w,
            /assets/img/Enquire-01-280x311.jpg  280w,
            /assets/img/Enquire-01-400x445.jpg  400w,
            /assets/img/Enquire-01.jpg         1219w
          "
          sizes="(max-width: 875px) 100vw, 875px"
        />
      </li>
    </ul>
  </div>
</div>
