@include bp-mobile-landscape {
	.alignleft,
	.alignright {
		display: inline;
		// margin-bottom: $spacing__smaller;
	}
	.alignleft {
		float: left;
		margin-right: $spacing__medium;
	}
	
	.alignright {
		float: right;
		margin-left: $spacing__medium;
	}
	
	img.alignleft,
	img.alignright {
		max-width: 50%;
	}
}

@include bp-medium {
	img.alignleft,
	img.alignright {
		max-width: 75%;
	}
}

.aligncenter {
	clear: both;
	@include center-block;
}