.feature-dual-panel-new {
    background: #eef4d6 url(/assets/img/subtle-pattern-9.jpg);
}

.feature-dual-panel-new .section-inner {
    background: #fff;
}

.section-work .page-intro-content,
.section-work .feature-page-intro,
.w-shadow {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.35);
    position: relative;
}


form ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
form .form-col {
    width: 48.5%;
    width: calc(50% - 16px);
    display: inline-flex;
    flex-direction: column;
}
form .form-col:nth-of-type(2n+2) {
    float: right;
}
.form-required label span {
    color: #ff1a1a;
    font-size: 36px;
    font-size: 2.25rem;
    line-height: 1;
    float: right;
    padding-right: 0.2em;
    display: inline-block;
    height: 0.5em;
}