h1, h2, h3, h4, h5, h6 {
	clear: both;
	margin-top: 0;
}

p {
	margin-top: 0;
	margin-bottom: $spacing__medium;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 0 $spacing__medium;
}

address {
	margin: 0 0 $spacing__medium;
}

pre {
	background: $color__tone-20;
	font-family: $font__pre;
	@include font-size($font__size-pre);
	line-height: $font__line-height-pre;
	margin-bottom: $spacing__medium;
	max-width: 100%;
	overflow: auto;
	padding: $spacing__medium;
}

code, kbd, tt, var {
	font-family: $font__code;
	@include font-size($font__size-pre);
}

abbr, acronym {
	border-bottom: $border__width-site dotted $color__tone-80;
	cursor: help;
}

mark, ins {
	background: $color__background-notice;
	text-decoration: none;
}

big {
	@include font-size($font__size-big);
}

small {
	@include font-size($font__size-small);
}

hr {
	background-color: inherit;
	border: 0;
	height: $border__width-site;
	margin: $spacing__medium 0;
	clear: both;
}