button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.btn,
.btn:visited {
	border: solid;
	border-width: $border__width-button;
	border-color: $color__brand-2;
	background: $color__brand-1;
	border-radius: $border__radius-button;
	color: $color__tone-0;
	@include font-size($font__size-smaller);
	text-decoration: none;
	font-weight: $font__weight-bold;
	line-height: 1.2;
	padding: $spacing__forms-button-padding;
	text-shadow: none;
	transition: $transition__all_fast;
	display: inline-block;
	text-align: center;
	@include bp-medium() {
		@include font-size(1);
	}

	+ button,
	+ input[type="button"],
	+ input[type="reset"],
	+ input[type="submit"],
	+ .btn,
	+ .btn:visited {
		margin-left: $spacing__small;
	}

	&:hover,
	&:focus,
	&:active {
		border-color: $color__brand-2-dark;
		background: $color__brand-2;
		color: $color__brand-1;
	}

	&:active {
		border-color: $color__brand-2;
		background: $color__brand-2-dark;
	}

}

form {
	margin-bottom: $spacing__large;
	width: 100%;
	
	legend {
		width: 100%;
	}
	fieldset {
		
		border: none;
		padding: 0;
		margin: 0;

	}
	label {
		@extend .section-subtitle;
	}
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea,
select {
	background-color: $color__tone-5;
	color: $color__tone-60;
	border: solid $color__brand-1;
	border-width: $border__width-input;
	border-radius: $border__radius-input;
	margin-bottom: $spacing__medium;
	display: block;
	width: 100%;
	//max-width: $var__max-form-input-width;
	outline: none;
	-webkit-appearance: none;

	&:focus {
		background-color: $color__tone-10;
		color: $color__tone-100;
		border-color: $color__brand-1-bright;
	}
	.with-tint & {
		background-color: rgba(#fff, 0.75);
		&:focus {
			background-color: #fff;
		}
	}
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea,
select {
	padding: $spacing__forms-input-padding;
}

textarea {
	width: 100%;
	//max-width: none;
	max-height: 15em;
}
	
::-webkit-input-placeholder {
   color: $color__text-inputs;
}
::-moz-placeholder {  // Firefox 19+ 
   color: $color__text-inputs;
}
:-ms-input-placeholder {  
   color: $color__text-inputs;
}