table {
	margin: 0 0 $spacing__medium;
	width: 100%;

	th, td {
		vertical-align: top;
		padding: $spacing__smallest $spacing__smaller;
	}

	th {
		//text-align: left;
		padding: $spacing__smallest $spacing__smaller;
	}

	td {
		word-break: break-word;
	}
}