<article
  id="post-1092"
  class="post-1092 page type-page status-publish has-post-thumbnail hentry"
>
  <div class="entry-content">
    <div class="section feature-page-intro">
      <ul class="bxslider">
        <li
          style="background-image: url(/assets/img/Ardentinny-01.jpg)"
        ></li>
        <li
          style="background-image: url(/assets/img/Ardentinny-03.jpg)"
        ></li>
        <li
          style="background-image: url(/assets/img/Ardentinny-04.jpg)"
        ></li>
        <li
          style="background-image: url(/assets/img/Ardentinny-05.jpg)"
        ></li>
        <li
          style="background-image: url(/assets/img/Ardentinny-02.jpg)"
        ></li>
      </ul>
    </div>

    <div class="section feature-page-intro">
      <div class="section page-intro-content">
        <div class="section-inner section-inner-narrower">
          <!--<img src="/assets/img/key-01.png" class="work-key" />-->

          <h1>Ardentinny Outdoor Centre</h1>
          <p>
            A Wordpress website to showcase the Ardentinny Centre's range of
            unforgettable experiences for children and young people, set on the
            beautiful shores of Loch Long.
          </p>
          <p class="work-meta">
            <strong
              >Credits: Design by
              <a
                href="http://www.http://traffic-design.co.uk/"
                title="Visit Platform Designs' home page"
                >Traffic Design Consultants</a
              ></strong
            >
          </p>
          <p>
            <a
              href="http://www.ardentinnycentre.org.uk/"
              title="Visit www.ardentinnycentre.org.uk/"
              rel="bookmark"
              class="block-link"
              >Visit: <strong>www.ardentinnycentre.org.uk</strong></a
            >
          </p>
        </div>
      </div>
    </div>
    <div class="section feature-dual-panel-new">
      <div class="section-inner">
        <div class="cols clear">
          <div
            class="col cover-img"
            style="background-image: url(/assets/img/P1130774-535x428.jpg);"
          ></div>
          <div class="col col-content">
            <div class="section-inner">
              <p>
                Ardentinny is located on the shores of Loch Long in the Loch
                Lomond and the Trossachs National Park. The Centre offers
                unforgettable experiences for children and young people,
                allowing them to experience the feeling of the remote outdoors
                in a safe and fun environment.
              </p>
              <p>
                The Ardentinny team required a website to showcase the wide
                range activities on offer, as well as provide information to
                parents and teachers on aspects of safety and food and
                accommodation.
              </p>
              <!--<p><strong><a href="/work/ardentinny-outdoor-centre/">Read More</a> &raquo;</strong></p>-->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- .section -->
    <div class="section feature-dual-panel-new">
      <div class="section-inner">
        <div class="cols clear">
          <div
            class="col cover-img"
            style="background-image: url(/assets/img/P1130787-535x426.jpg);"
          ></div>
          <div class="col col-content">
            <div class="section-inner">
              <p>
                Built using WordPress, the site features a bold and bright
                design along with some great photographic galleries, giving the
                children an idea of what they can expect at the Centre. For
                parents and teachers there is are comprehensive FAQs and About
                sections as well as a booking and enquiry form.
              </p>
              <!--<p><strong><a href="/work/ardentinny-outdoor-centre/">Read More</a> &raquo;</strong></p>-->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- .section -->
  </div>
</article>
