---
title: Bandstands
subtitle: Lorem ipsum dolor sit amet, consectetur adipiscing elit.
description: A cross-platform app created in collaboration with the Arty Walk Porty project to allow participants to navigate and discover 8 historical bandstands across Edinburgh & Musselburgh, with soundscapes by composer Ross Whyte.
projectType: iOS and Android App
images:
  - 
screenshots: []
---
<p>The Arty Walk Porty project, run by Rosy Naylor, conceived of an immersive sound-based performance and exhibition to celebrate and commemorate 8 historical bandstands across Edinburgh & Musselburgh. In collaboration with the artists, performers and composer an App was created to allow participants to navigate and discover.</p>

<h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>

<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.</p>



<figure role="group" aria-labelledby="screenshots" class="image-group image-group--twothird">
  <img width="2200" height="1652" src="/assets/img/art-walk-portobello-beach-horizon.jpg" alt="" />
  <img width="1652" height="2200" src="/assets/img/art-walk-porty-bandstands-location-post.jpg" alt="" />
  <img width="1652" height="2200" src="/assets/img/art-walk-porty-entertainers-on-stilts.jpg" alt="" />
  <figcaption id="screenshots" class="image-group__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</figcaption>
</figure>