---
title: Broomhill Dental
description: A responsive WordPress website for a Glasgow-based dental surgery providing a range of general, restorative and cosmetic dentistry services.
---
<article
  id="post-1160"
  class="post-1160 page type-page status-publish has-post-thumbnail hentry"
>
  <div class="entry-content">
    <div class="section feature-page-intro">
      <ul class="bxslider">
        <li
          style="background-image: url(/assets/img/Broomhill-01.jpg)"
        ></li>
        <li
          style="background-image: url(/assets/img/Broomhill-02.jpg)"
        ></li>
        <li
          style="background-image: url(/assets/img/Broomhill-03.jpg)"
        ></li>
        <li
          style="background-image: url(/assets/img/Broomhill-04.jpg)"
        ></li>
      </ul>
    </div>

    <div class="section feature-page-intro">
      <div class="section page-intro-content">
        <div class="section-inner section-inner-narrower">
          <!--<img src="/assets/img/key-01.png" class="work-key" />-->

          <h1>{{title}}</h1>
          <p>{{description}}</p>
          <p class="work-meta"><strong>Credits: Design by LeMo</strong></p>
          <p>
            <a
              href="http://broomhilldental.com/"
              title="Visit broomhilldental.com/"
              rel="bookmark"
              class="block-link"
              >Visit: <strong>broomhilldental.com</strong></a
            >
          </p>
        </div>
      </div>
    </div>
    <div class="section feature-dual-panel-new">
      <div class="section-inner">
        <div class="cols clear">
          <div
            class="col cover-img"
            style="background-image: url(/assets/img/P1130834-535x401.jpg);"
          ></div>
          <div class="col col-content">
            <div class="section-inner">
              <p>
                Broomhill Dental are a Glasgow-based dental surgery providing a
                range of general, restorative and cosmetic dentistry services.
              </p>
              <p>
                They required a re-design and upgrade of their existing site and
                so designers LeMo created fresh, bold new design.
              </p>
              <!--<p><strong><a href="/work/broomhill-dental/">Read More</a> &raquo;</strong></p>-->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- .section -->
    <div class="section feature-dual-panel-new">
      <div class="section-inner">
        <div class="cols clear">
          <div
            class="col cover-img"
            style="background-image: url(/assets/img/P1130859-535x401.jpg);"
          ></div>
          <div class="col col-content">
            <div class="section-inner">
              <p>
                I was tasked with implementing the design as a WordPress
                template and the result is a responsive, mobile-friendly new
                site that showcases the surgery&#8217;s services and allows
                customers to browse and book consultations.
              </p>
              <!--<p><strong><a href="/work/broomhill-dental/">Read More</a> &raquo;</strong></p>-->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- .section -->
  </div>
</article>
