---
title: Broomhill Dental
id: 1160
description: A responsive WordPress website for a Glasgow-based dental surgery providing a range of general, restorative and cosmetic dentistry services.
builtUsing: WordPress
projectType: Website
credits: Design by LeMo
url: http://broomhilldental.com/
displayUrl: broomhilldental.com
images:
  - large: P1130834-535x401.jpg
    medium: P1130834-535x401.jpg
    small: P1130834-535x401.jpg
    full: P1130834-535x401.jpg
  - large: P1130859-535x401.jpg
    medium: P1130859-535x401.jpg
    small: P1130859-535x401.jpg
    full: P1130859-535x401.jpg
slideshowImages: [
  Broomhill-01.jpg,
  Broomhill-02.jpg,
  Broomhill-03.jpg,
  Broomhill-04.jpg
]
---
<p>
  Broomhill Dental are a Glasgow-based dental surgery providing a
  range of general, restorative and cosmetic dentistry services.
</p>
<p>
  They required a re-design and upgrade of their existing site and
  so designers LeMo created fresh, bold new design.
</p>
<p>
  I was tasked with implementing the design as a WordPress
  template and the result is a responsive, mobile-friendly new
  site that showcases the surgery&#8217;s services and allows
  customers to browse and book consultations.
</p>