---
layout: portfolio
---

<div
  id="post-191"
  class="post-191 portfolio type-portfolio status-publish has-post-thumbnail hentry"
>
  <div class="cols clear archived-portfolio">
    <div class="entry-content col">
      <h1 class="entry-title">Customer Forum for Water</h1>
      <div class="entry-meta">
        <p>Built using: <strong>Wordpress</strong></p>
        <p>Project Type: <strong>Website</strong></p>
        <p>Credits: <strong>Design by Scott Ogilvie</strong></p>
      </div>
      <p>
        <a
          href="http://www.customerforum.org.uk/"
          title="Visit "
          rel="bookmark"
          class="block-link"
          >Visit: <strong>www.customerforum.org.uk</strong></a
        >
      </p>
      <p>
        The Customer Forum for Water is a
        <a
          title="The Scottish Government website"
          href="http://www.scotland.gov.uk/"
          >Scottish Government</a
        >
        backed initiative to help shape the water industry in Scotland and build
        a relationship between customers and Scottish Water.
      </p>
      <p>
        The site is built using
        <a href="https://wordpress.org/">WordPress</a> and features several
        custom content types and areas, including widgets, a contact form and an
        dynamic, interactive JavaScript timeline.
      </p>
    </div>

    <ul class="portfolio-images col">
      <li>
        <img
          width="875"
          height="824"
          src="/assets/img/Customer-Water-Forum-01-875x824.jpg"
          class="attachment-large size-large"
          alt="Customer Water Forum home page"
          srcset="
            /assets/img/Customer-Water-Forum-01-875x824.jpg  875w,
            /assets/img/Customer-Water-Forum-01-535x504.jpg  535w,
            /assets/img/Customer-Water-Forum-01-400x376.jpg  400w,
            /assets/img/Customer-Water-Forum-01.jpg         1143w
          "
          sizes="(max-width: 875px) 100vw, 875px"
        />
      </li>
    </ul>
  </div>
</div>
