<article
  id="post-1123"
  class="post-1123 page type-page status-publish has-post-thumbnail hentry"
>
  <div class="entry-content">
    <div class="section feature-page-intro">
      <ul class="bxslider">
        <li
          style="background-image: url(/assets/img/01-Galbani.jpg)"
        ></li>
        <li
          style="background-image: url(/assets/img/02-Galbani.jpg)"
        ></li>
        <li
          style="background-image: url(/assets/img/03-Galbani.jpg)"
        ></li>
        <li
          style="background-image: url(/assets/img/04-Galbani.jpg)"
        ></li>
        <li
          style="background-image: url(/assets/img/05-Galbani.jpg)"
        ></li>
      </ul>
    </div>

    <div class="section feature-page-intro">
      <div class="section page-intro-content">
        <div class="section-inner section-inner-narrower">
          <!--<img src="/assets/img/key-01.png" class="work-key" />-->

          <h1>Galbani: Authentic Italian Cheese</h1>
          <p>
            A tasty website for Italy's No.1 cheese brand, built using WordPress
            and featuring a recipe finder, with exclusive recipes from chefs and
            food bloggers.
          </p>
          <p class="work-meta">
            <strong
              >Credits: Design by
              <a href="http://www.eqtr.com/" title="Visit Equator' home page"
                >Equator</a
              ></strong
            >
          </p>
          <p>
            <a
              href="http://www.galbani.co.uk/"
              title="Visit www.galbani.co.uk/"
              rel="bookmark"
              class="block-link"
              >Visit: <strong>www.galbani.co.uk</strong></a
            >
          </p>
        </div>
      </div>
    </div>
    <div class="section feature-dual-panel-new">
      <div class="section-inner">
        <div class="cols clear">
          <div
            class="col cover-img"
            style="background-image: url(/assets/img/P1130807-535x401.jpg);"
          ></div>
          <div class="col col-content">
            <div class="section-inner">
              <p>
                Dating all the way back to 1882, when father and son Davide
                &#038; Egidio Galbani first made it in the lush Alpine valley
                village of Ballabio, Galbani is the Italian’s favourite cheese
                brand. They sell more than 300 products in 50 different
                countries.
              </p>
              <!--<p><strong><a href="/work/galbani-authentic-italian-cheese/">Read More</a> &raquo;</strong></p>-->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- .section -->
    <div class="section feature-dual-panel-new">
      <div class="section-inner">
        <div class="cols clear">
          <div
            class="col cover-img"
            style="background-image: url(/assets/img/P1130831-535x401.jpg);"
          ></div>
          <div class="col col-content">
            <div class="section-inner">
              <p>
                Galbani have teamed up with several chefs and food bloggers to
                create a range of exclusive recipes, using Galbani products in
                various tasty and interesting ways, such as
                <a
                  href="http://www.galbani.co.uk/recipes/lamb-cutlet-sweet-potato-galbani-mozzarella-tray-bake/"
                  >Lamb Cutlet, Sweet Potato &amp; Galbani Mozzarella Tray
                  Bake</a
                >,
                <a
                  href="http://www.galbani.co.uk/recipes/roasted-pepper-sausage-and-galbani-mozzarella-bake/"
                  >Roasted pepper, sausage and Galbani Mozzarella bake</a
                >
                and
                <a href="http://www.galbani.co.uk/recipes/chocolate-ice-cream/"
                  >Chocolate Ice Cream with Galbani Mascarpone</a
                >!
              </p>
              <!--<p><strong><a href="/work/galbani-authentic-italian-cheese/">Read More</a> &raquo;</strong></p>-->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- .section -->
    <div class="section feature-dual-panel-new">
      <div class="section-inner">
        <div class="cols clear">
          <div
            class="col cover-img"
            style="background-image: url(/assets/img/P1130814-535x401.jpg);"
          ></div>
          <div class="col col-content">
            <div class="section-inner">
              <p>
                Recipes can be searched and filtered by style, course and
                cooking time. Recipes are dynamically linked to their products
                and author — this allows the user to browse through the various
                content types with ease and share to social media channels,
                increasing their engagement with the products.
              </p>
              <p>
                The site is built using WordPress and features a
                mobile-friendly, responsive design that adapts across mobile,
                tablet and desktop computers.
              </p>
              <!--<p><strong><a href="/work/galbani-authentic-italian-cheese/">Read More</a> &raquo;</strong></p>-->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- .section -->
  </div>
</article>
