---
title: Galbani - Authentic Italian Cheese
id: 1123
description: A tasty website for Italy's No.1 cheese brand, built using WordPress and featuring a recipe finder, with exclusive recipes from chefs and food bloggers.
builtUsing: WordPress
projectType: Website
credits: Design by<a href="http://www.eqtr.com/" title="Visit Equator' home page">Equator</a>
url: http://www.galbani.co.uk/
displayUrl: galbani.co.uk
images:
  - large: P1130807-535x401.jpg
    medium: P1130807-535x401.jpg
    small: P1130807-535x401.jpg
    full: P1130807-535x401.jpg
  - large: P1130831-535x401.jpg
    medium: P1130831-535x401.jpg
    small: P1130831-535x401.jpg
    full: P1130831-535x401.jpg
  - large: P1130814-535x401.jpg
    medium: P1130814-535x401.jpg
    small: P1130814-535x401.jpg
    full: P1130814-535x401.jpg
slideshowImages: [
  01-Galbani.jpg,
  02-Galbani.jpg,
  03-Galbani.jpg,
  04-Galbani.jpg,
  05-Galbani.jpg,
]
---
<p>
  Dating all the way back to 1882, when father and son Davide
  &#038; Egidio Galbani first made it in the lush Alpine valley
  village of Ballabio, Galbani is the Italian’s favourite cheese
  brand. They sell more than 300 products in 50 different
  countries.
</p>
<p>
  Galbani have teamed up with several chefs and food bloggers to
  create a range of exclusive recipes, using Galbani products in
  various tasty and interesting ways, such as
  <a
    href="http://www.galbani.co.uk/recipes/lamb-cutlet-sweet-potato-galbani-mozzarella-tray-bake/"
    >Lamb Cutlet, Sweet Potato &amp; Galbani Mozzarella Tray
    Bake</a
  >,
  <a
    href="http://www.galbani.co.uk/recipes/roasted-pepper-sausage-and-galbani-mozzarella-bake/"
    >Roasted pepper, sausage and Galbani Mozzarella bake</a
  >
  and
  <a href="http://www.galbani.co.uk/recipes/chocolate-ice-cream/"
    >Chocolate Ice Cream with Galbani Mascarpone</a
  >!
</p>
<p>
  Recipes can be searched and filtered by style, course and
  cooking time. Recipes are dynamically linked to their products
  and author — this allows the user to browse through the various
  content types with ease and share to social media channels,
  increasing their engagement with the products.
</p>
<p>
  The site is built using WordPress and features a
  mobile-friendly, responsive design that adapts across mobile,
  tablet and desktop computers.
</p>
