---
layout: portfolio
---

<div
  id="post-193"
  class="post-193 portfolio type-portfolio status-publish has-post-thumbnail hentry"
>
  <div class="cols clear archived-portfolio">
    <div class="entry-content col">
      <h1 class="entry-title">Gender in Global Governance Net-Work</h1>
      <div class="entry-meta">
        <p>Built using: <strong>Wordpress</strong></p>
        <p>Project Type: <strong>Website</strong></p>
      </div>
      <p>
        <a
          href="http://www.genderinglobalgovernancenet-work.net/"
          title="Visit "
          rel="bookmark"
          class="block-link"
          >Visit: <strong>www.genderinglobalgovernancenet-work.net</strong></a
        >
      </p>
      <p>
        The Gender in Global Governance Net-Work aims to provide a shared
        platform to &#8220;facilitate high level debate and dialogue&#8230; in
        the furtherance of knowledge and understanding of all aspects of gender
        in global governance&#8221;.
      </p>
      <p>
        The custom design for the site aims to be bright, fresh and welcoming,
        yet professional &#8211; colour-coded sections highlight the different
        areas of the site.
      </p>
      <p>
        The main focus of the site is the Discussion Forum. This allows users to
        participate in discussions, whilst providing site administrators with
        the tools to moderate activity. Other sections include a blog, upcoming
        events, links and resources and dynamic RSS integration.
      </p>
    </div>

    <ul class="portfolio-images col">
      <li>
        <img
          width="875"
          height="829"
          src="/assets/img/GGGN-01-875x829.jpg"
          class="attachment-large size-large"
          alt="Gender In Global Governance Net-work home page"
          srcset="
            /assets/img/GGGN-01-875x829.jpg  875w,
            /assets/img/GGGN-01-535x507.jpg  535w,
            /assets/img/GGGN-01-400x379.jpg  400w,
            /assets/img/GGGN-01.jpg         1184w
          "
          sizes="(max-width: 875px) 100vw, 875px"
        />
      </li>
      <li>
        <img
          width="875"
          height="829"
          src="/assets/img/GGGN-02-875x829.jpg"
          class="attachment-large size-large"
          alt="Gender In Global Governance Net-work events page"
          srcset="
            /assets/img/GGGN-02-875x829.jpg  875w,
            /assets/img/GGGN-02-535x507.jpg  535w,
            /assets/img/GGGN-02-400x379.jpg  400w,
            /assets/img/GGGN-02.jpg         1184w
          "
          sizes="(max-width: 875px) 100vw, 875px"
        />
      </li>
      <li>
        <img
          width="875"
          height="829"
          src="/assets/img/GGGN-03-875x829.jpg"
          class="attachment-large size-large"
          alt="Gender In Global Governance Net-work forum"
          srcset="
            /assets/img/GGGN-03-875x829.jpg  875w,
            /assets/img/GGGN-03-535x507.jpg  535w,
            /assets/img/GGGN-03-400x379.jpg  400w,
            /assets/img/GGGN-03.jpg         1184w
          "
          sizes="(max-width: 875px) 100vw, 875px"
        />
      </li>
    </ul>
  </div>
</div>
