---
layout: portfolio
---

<div
  id="post-1054"
  class="post-1054 portfolio type-portfolio status-publish has-post-thumbnail hentry"
>
  <div class="cols clear archived-portfolio">
    <div class="entry-content col">
      <h1 class="entry-title">Society of Botanical Artists</h1>
      <div class="entry-meta">
        <p>Built using: <strong>Wordpress</strong></p>
        <p>Project Type: <strong>Website</strong></p>
        <p>
          Credits:
          <strong
            >Design by
            <a
              href="http://www.platformdesigns.co.uk/"
              title="Visit Platform Designs' home page"
              >Platform Designs</a
            ></strong
          >
        </p>
      </div>
      <p>
        <a
          href="http://www.soc-botanical-artists.org/"
          title="Visit "
          rel="bookmark"
          class="block-link"
          >Visit: <strong>www.soc-botanical-artists.org</strong></a
        >
      </p>
      <p>
        The Society of Botanical Artists was established in 1985 and aims to
        &#8220;advance the education of the public and the appreciation of fine
        botanical art, to provide facilities for the exhibition of work by
        artists who practice the protection, appreciation, conservation and
        nurture of plants and habitats of plant life with special reference to
        endangered species&#8221;.
      </p>
      <p>
        They required a website to support and showcase their range of talented
        artists as well as allow them to submit work to be considered for entry
        in the Society&#8217;s exhibitions. This was achieved using a custom
        signup application process, where artists uploaded their works and a
        panel of judges completed the approval process via the site.
      </p>
    </div>

    <ul class="portfolio-images col">
      <li>
        <img
          width="875"
          height="1110"
          src="/assets/img/The-Society-of-Botanical-Artists-home-page-875x1110.png"
          class="attachment-large size-large"
          alt="The Society of Botanical Artists home page"
          srcset="
            /assets/img/The-Society-of-Botanical-Artists-home-page-875x1110.png 875w,
            /assets/img/The-Society-of-Botanical-Artists-home-page-535x679.png  535w,
            /assets/img/The-Society-of-Botanical-Artists-home-page-768x974.png  768w,
            /assets/img/The-Society-of-Botanical-Artists-home-page-400x507.png  400w
          "
          sizes="(max-width: 875px) 100vw, 875px"
        />
      </li>
      <li>
        <img
          width="875"
          height="1309"
          src="/assets/img/The-Society-of-Botanical-Artists-Artists-page-875x1309.png"
          class="attachment-large size-large"
          alt="The Society of Botanical Artists Artists page"
          srcset="
            /assets/img/The-Society-of-Botanical-Artists-Artists-page-875x1309.png  875w,
            /assets/img/The-Society-of-Botanical-Artists-Artists-page-535x800.png   535w,
            /assets/img/The-Society-of-Botanical-Artists-Artists-page-768x1149.png  768w,
            /assets/img/The-Society-of-Botanical-Artists-Artists-page-400x598.png   400w,
            /assets/img/The-Society-of-Botanical-Artists-Artists-page.png          1477w
          "
          sizes="(max-width: 875px) 100vw, 875px"
        />
      </li>
      <li>
        <img
          width="875"
          height="1547"
          src="/assets/img/The-Society-of-Botanical-Artists-Exhibitions-page-875x1547.png"
          class="attachment-large size-large"
          alt="The Society of Botanical Artists Exhibitions page"
          srcset="
            /assets/img/The-Society-of-Botanical-Artists-Exhibitions-page-875x1547.png  875w,
            /assets/img/The-Society-of-Botanical-Artists-Exhibitions-page-535x946.png   535w,
            /assets/img/The-Society-of-Botanical-Artists-Exhibitions-page-768x1358.png  768w,
            /assets/img/The-Society-of-Botanical-Artists-Exhibitions-page-400x707.png   400w,
            /assets/img/The-Society-of-Botanical-Artists-Exhibitions-page.png          1469w
          "
          sizes="(max-width: 875px) 100vw, 875px"
        />
      </li>
      <li>
        <img
          width="712"
          height="1868"
          src="/assets/img/The-Society-of-Botanical-Artists-Exhibition-page-tablet-view.png"
          class="attachment-large size-large"
          alt="The Society of Botanical Artists Exhibitions page tablet view"
          srcset="
            /assets/img/The-Society-of-Botanical-Artists-Exhibition-page-tablet-view.png          712w,
            /assets/img/The-Society-of-Botanical-Artists-Exhibition-page-tablet-view-535x1404.png 535w,
            /assets/img/The-Society-of-Botanical-Artists-Exhibition-page-tablet-view-400x1049.png 400w
          "
          sizes="(max-width: 712px) 100vw, 712px"
        />
      </li>
      <li>
        <img
          width="400"
          height="1437"
          src="/assets/img/The-Society-of-Botanical-Artists-home-page-mobile-view.png"
          class="attachment-large size-large"
          alt=""
        />
      </li>
    </ul>
  </div>
</div>
