<article
  id="post-1085"
  class="post-1085 page type-page status-publish has-post-thumbnail hentry"
>
  <div class="entry-content">
    <div class="section feature-page-intro">
      <ul class="bxslider">
        <li
          style="background-image: url(/assets/img/soo-uk-00.jpg)"
        ></li>
        <li
          style="background-image: url(/assets/img/soo-uk-05.jpg)"
        ></li>
        <li
          style="background-image: url(/assets/img/soo-uk-04.jpg)"
        ></li>
        <li
          style="background-image: url(/assets/img/soo-uk-02.jpg)"
        ></li>
        <li
          style="background-image: url(/assets/img/soo-uk-03.jpg)"
        ></li>
        <li
          style="background-image: url(/assets/img/soo-uk-06.jpg)"
        ></li>
        <li
          style="background-image: url(/assets/img/SooUk-07.jpg)"
        ></li>
      </ul>
    </div>

    <div class="section feature-page-intro">
      <div class="section page-intro-content">
        <div class="section-inner section-inner-narrower">
          <!--<img src="/assets/img/key-01.png" class="work-key" />-->

          <h1>SooUK</h1>
          <p>
            A contemporary online design store, based near Edinburgh. The site
            showcases a mutual love of beautiful product design, interiors and
            architecture.
          </p>
          <p>
            <a
              href="http://soo-uk.com/"
              title="Visit soo-uk.com/"
              rel="bookmark"
              class="block-link"
              >Visit: <strong>soo-uk.com</strong></a
            >
          </p>
        </div>
      </div>
    </div>
    <div class="section feature-dual-panel-new">
      <div class="section-inner">
        <div class="cols clear">
          <div
            class="col cover-img"
            style="background-image: url(/assets/img/soo-uk-00-535x326.jpg);"
          ></div>
          <div class="col col-content">
            <div class="section-inner">
              <p>
                SOOuK is a contemporary online design store, based near
                Edinburgh. The site showcases a mutual love of beautiful product
                design, interiors and architecture.
              </p>
              <p>
                The site features a modern grid based design split into two main
                sections &#8211; Photography and Products. The Photography
                section highlights Soo&#8217;s work in interior design and the
                Products section allows users to browse and purchase products
                via the integration of the WooCommerce shopping cart.
              </p>
              <!--<p><strong><a href="/work/soouk/">Read More</a> &raquo;</strong></p>-->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- .section -->
  </div>
</article>
