---
title: SooUK
id: 1085
description: A contemporary online design store, based near Edinburgh. The site showcases a mutual love of beautiful product design, interiors and architecture.
builtUsing: WordPress
projectType: Website
url: http://soo-uk.com
displayUrl: soo-uk.com
images:
  - large: soo-uk-00-535x326.jpg
    medium: soo-uk-00-535x326.jpg
    small: soo-uk-00-535x326.jpg
    full: soo-uk-00-535x326.jpg
slideshowImages: [
  soo-uk-00.jpg,
  soo-uk-05.jpg,
  soo-uk-04.jpg,
  soo-uk-02.jpg,
  soo-uk-03.jpg,
  soo-uk-06.jpg,
  SooUk-07.jpg
]
---
<p>
  SOOuK is a contemporary online design store, based near Edinburgh. The site showcases a mutual love of beautiful product design, interiors and architecture.
</p>
<p>
  The site features a modern grid based design split into two main sections – Photography and Products. The Photography section highlights Soo’s work in interior design and the Products section allows users to browse and purchase products via the integration of the WooCommerce shopping cart.
</p>