---
title: The Pet Business
id: 499
description: The Pet Business is a retailer, wholesaler and distributor of high quality pet products with a focus on quality, ethical, innovative products. Most products are sourced from American and Canadian companies.
builtUsing: Shopify
projectType: Website, E-Commerce
credits: Design by David Park
url: http://thepetbusiness.co.uk/
displayUrl: thepetbusiness.co.uk
images:
  - large: Pet-Business-01-875x1177.jpg
    medium: Pet-Business-01-535x719.jpg
    small: Pet-Business-01-400x538.jpg
    full: Pet-Business-01.jpg
  - large: Pet-Business-02-875x1433.jpg
    medium: Pet-Business-02-535x876.jpg
    small: Pet-Business-02-400x655.jpg
    full: Pet-Business-02.jpg
  - large: Pet-Business-04-875x1364.jpg
    medium: Pet-Business-04-535x833.jpg
    small: Pet-Business-04-400x623.jpg
    full: Pet-Business-04.jpg
  - large: Pet-Business-03-875x1385.jpg
    medium: Pet-Business-03-535x847.jpg
    small: Pet-Business-03-400x633.jpg
    full: Pet-Business-03.jpg
  - large: Pet-Business-05-875x845.jpg
    medium: Pet-Business-05-535x517.jpg
    small: Pet-Business-05-400x386.jpg
    full: Pet-Business-05.jpg
  - large: ThePet-Business-06.png
    medium: ThePet-Business-06.png
    small: ThePet-Business-06-535x1276.png
    full: ThePet-Business-06-400x954.png
---
<p>
  The site is built using the Shopify e-commerce platform. This presented
  a challenge to create a custom theme that looked good, was responsive to
  a wide variety of devices yet still work within the Shopify framework.
</p>