---
layout: portfolio
---

<div
  id="post-499"
  class="post-499 portfolio type-portfolio status-publish has-post-thumbnail hentry"
>
  <div class="cols clear archived-portfolio">
    <div class="entry-content col">
      <h1 class="entry-title">The Pet Business</h1>
      <div class="entry-meta">
        <p>Built using: <strong>Shopify</strong></p>
        <p>Project Type: <strong>Website, E-Commerce</strong></p>
        <p>Credits: <strong>Design by David Park</strong></p>
      </div>
      <p>
        <a
          href="http://thepetbusiness.co.uk/"
          title="Visit "
          rel="bookmark"
          class="block-link"
          >Visit: <strong>thepetbusiness.co.uk</strong></a
        >
      </p>
      <p>
        The Pet Business is a retailer, wholesaler and distributor of high
        quality pet products with a focus on quality, ethical, innovative
        products. Most products are sourced from American and Canadian
        companies.
      </p>
      <p>
        The site is built using the Shopify e-commerce platform. This presented
        a challenge to create a custom theme that looked good, was responsive to
        a wide variety of devices yet still work within the Shopify framework.
      </p>
      <p>&nbsp;</p>
    </div>

    <ul class="portfolio-images col">
      <li>
        <img
          width="875"
          height="1177"
          src="/assets/img/Pet-Business-01-875x1177.jpg"
          class="attachment-large size-large"
          alt="The Pet Business Home Page"
          srcset="
            /assets/img/Pet-Business-01-875x1177.jpg  875w,
            /assets/img/Pet-Business-01-535x719.jpg   535w,
            /assets/img/Pet-Business-01-400x538.jpg   400w,
            /assets/img/Pet-Business-01.jpg          1329w
          "
          sizes="(max-width: 875px) 100vw, 875px"
        />
      </li>
      <li>
        <img
          width="875"
          height="1433"
          src="/assets/img/Pet-Business-02-875x1433.jpg"
          class="attachment-large size-large"
          alt="The Pet Business Product Page"
          srcset="
            /assets/img/Pet-Business-02-875x1433.jpg  875w,
            /assets/img/Pet-Business-02-535x876.jpg   535w,
            /assets/img/Pet-Business-02-400x655.jpg   400w,
            /assets/img/Pet-Business-02.jpg          1342w
          "
          sizes="(max-width: 875px) 100vw, 875px"
        />
      </li>
      <li>
        <img
          width="875"
          height="1364"
          src="/assets/img/Pet-Business-04-875x1364.jpg"
          class="attachment-large size-large"
          alt="The Pet Business Products Page"
          srcset="
            /assets/img/Pet-Business-04-875x1364.jpg  875w,
            /assets/img/Pet-Business-04-535x833.jpg   535w,
            /assets/img/Pet-Business-04-400x623.jpg   400w,
            /assets/img/Pet-Business-04.jpg          1342w
          "
          sizes="(max-width: 875px) 100vw, 875px"
        />
      </li>
      <li>
        <img
          width="875"
          height="1385"
          src="/assets/img/Pet-Business-03-875x1385.jpg"
          class="attachment-large size-large"
          alt="The Pet Business Products Page"
          srcset="
            /assets/img/Pet-Business-03-875x1385.jpg  875w,
            /assets/img/Pet-Business-03-535x847.jpg   535w,
            /assets/img/Pet-Business-03-400x633.jpg   400w,
            /assets/img/Pet-Business-03.jpg          1342w
          "
          sizes="(max-width: 875px) 100vw, 875px"
        />
      </li>
      <li>
        <img
          width="875"
          height="845"
          src="/assets/img/Pet-Business-05-875x845.jpg"
          class="attachment-large size-large"
          alt="The Pet Business About Page"
          srcset="
            /assets/img/Pet-Business-05-875x845.jpg  875w,
            /assets/img/Pet-Business-05-535x517.jpg  535w,
            /assets/img/Pet-Business-05-400x386.jpg  400w,
            /assets/img/Pet-Business-05.jpg         1342w
          "
          sizes="(max-width: 875px) 100vw, 875px"
        />
      </li>
      <li>
        <img
          width="709"
          height="1692"
          src="/assets/img/ThePet-Business-06.png"
          class="attachment-large size-large"
          alt="The Pet Business Home Page - Responsive View"
          srcset="
            /assets/img/ThePet-Business-06.png          709w,
            /assets/img/ThePet-Business-06-535x1276.png 535w,
            /assets/img/ThePet-Business-06-400x954.png  400w
          "
          sizes="(max-width: 709px) 100vw, 709px"
        />
      </li>
    </ul>
  </div>
</div>
