---
title: Variprint
description: A bold, modern and mobile-responsive design for a design and print company based in Paisley, near Glasgow built using Wordpress and WooCommerce.
---
<article
  id="post-1089"
  class="post-1089 page type-page status-publish has-post-thumbnail hentry"
>
  <div class="entry-content">
    <div class="section feature-page-intro">
      <ul class="bxslider">
        <li
          style="background-image: url(/assets/img/VariPrint00.jpg)"
        ></li>
        <li
          style="background-image: url(/assets/img/VariPrint01.jpg)"
        ></li>
        <li
          style="background-image: url(/assets/img/VariPrint05.jpg)"
        ></li>
        <li
          style="background-image: url(/assets/img/VariPrint04.jpg)"
        ></li>
        <li
          style="background-image: url(/assets/img/VariPrint06.jpg)"
        ></li>
      </ul>
    </div>

    <div class="section feature-page-intro">
      <div class="section page-intro-content">
        <div class="section-inner section-inner-narrower">
          <!--<img src="/assets/img/key-01.png" class="work-key" />-->

          <h1>{{title}}</h1>
          <p>{{description}}</p>
          <p>
            <a
              href="http://vari-print.co.uk/"
              title="Visit vari-print.co.uk/"
              rel="bookmark"
              class="block-link"
              >Visit: <strong>vari-print.co.uk</strong></a
            >
          </p>
        </div>
      </div>
    </div>
    <div class="section feature-dual-panel-new">
      <div class="section-inner">
        <div class="cols clear">
          <div
            class="col cover-img"
            style="background-image: url(/assets/img/VariPrint01-535x557.jpg);"
          ></div>
          <div class="col col-content">
            <div class="section-inner">
              <p>
                VariPrint are a design and print company based in Paisley, near
                Glasgow. They differentiate themselves from their competitor by
                focussing on quality, by being eco-conscious and by not being
                afraid to pull an all-nighter!
              </p>
              <p>
                Their site is built using WordPress and the WooCommerce
                e-commerce platform and features a bold, modern and
                mobile-responsive design.
              </p>
              <!--<p><strong><a href="/work/variprint/">Read More</a> &raquo;</strong></p>-->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- .section -->
  </div>
</article>
