<footer class="wrapper">

  <p>
    <strong>{{ metadata.author.name }},<br />
    {{ metadata.author.location }}<br />
    Email: <a href="{{ metadata.author.email }}" title="Email me">{{ metadata.author.email }}</a><br />
    Mobile: <a href="tel:{{ metadata.author.telephoneInternational }}" title="Call me">{{ metadata.author.telephone }}</a></strong>
  </p>

  {% include "components/social-links.njk" %}

  <h4>Browse:</h4>
  {% set navPages = collections.pages | eleventyNavigation %}
  <nav>
    <ul>
      {%- for entry in navPages %}
      <li{%- if entry.url == page.url %} class="active"{% endif -%}>
        <a href="{{ entry.url | url }}"
        {%- if entry.url == page.url %} aria-current="page"{% endif -%}
        >{{ entry.title }}</a>
      </li>
      {%- endfor %}
    </ul>
  </nav>

  <h4>Client Support:</h4>
  <nav>
    <ul>
      {% for entry in collections.pages | menu('support') %}
      <li{%- if entry.url == page.url %} class="active"{% endif -%}>
        <a href="{{ entry.url | url }}"
        {%- if entry.url == page.url %} aria-current="page"{% endif -%}
        >{{ entry.data.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </nav>

  <p>&copy; <a href="/" title="Steven Park" rel="home">{{ metadata.author.name }}</a>, 2020.</p>

  <a class="skip-link screen-reader-text" href="#start">Back to stop</a>

</footer>