<nav class="social-links">
  <h3 class="screen-reader-text">Social Links</h3>
  <ul>
    {% for title, url in metadata.author.socialLinks %}
    <li>
        <a href="{{url}}"><span class="icon-{{title | classname}}"></span> {{title}}</a>
    </li>
    {% endfor %}
  </ul>
</nav>