---
title: Prices & Payment Terms
eleventyNavigation:
  key: Prices & Payment Terms
  order: 130
---

<article id="post-1015" class="post-1015 page type-page status-publish hentry">
  <div class="entry-content">
    <div class="section feature-page-intro">
      <div
        class="banner-image"
        style="background-image: url(/assets/img/steve-fade-3-1900x1267.jpg);"
      ></div>
      <div class="section page-intro-content">
        <div class="section-inner section-inner-narrower">
          <h1>Prices & Payment Terms</h1>
        </div>
      </div>
    </div>
    <div id="feature_general_content-1" class="section feature-general-content">
      <div class="section-inner">
        <div class="cols clear">
          <div class="col col-2-3">
            <h3>Payment Terms &#038; Conditions</h3>
            <ul>
              <li>
                A deposit is required to be paid before commencement of work,
                followed by interim payment(s) at appropriate stages throughout
                the project.
              </li>
              <li>
                The exact terms will be finalised and agreed by both parties
                before commencement of work and a contract will be required
                outlining these agreed terms.
              </li>
              <li>
                Only once full payment is received will your site be transferred
                to your ownership (e.g. transferred to the live server).
              </li>
              <li>
                Included within the standard terms and conditions are 14 days of
                free technical support after your site goes live to ensure that
                that every target that was set out in the project brief has been
                met.
              </li>
              <li>
                If you require to make any changes or updates after the 14 day
                support period, additional development time is available at my
                standard daily rate. Reduced rates are available for long-term
                commitments. <a href="#support">See below</a>.
              </li>
              <li>
                You may terminate the project at anytime but you will be
                required to pay for the work already carried out up to the point
                of termination.
              </li>
              <li>
                Monthly ongoing support requires payment each month before work
                commences. There is no minimum term and you may cancel at any
                time.
              </li>
              <li>
                By agreeing to proceed with any project it is understood that
                you are committing to the above terms.
              </li>
            </ul>
          </div>
          <div class="col col-1-3">
            <h3>Current Prices</h3>
            <table>
              <tr>
                <th>WordPress Design / Development</th>
              </tr>
              <tr>
                <td><strong>£350 per day</strong></td>
              </tr>
              <tr>
                <th>App Design / Development</th>
              </tr>
              <tr>
                <td><strong>£425 per day</strong></td>
              </tr>
              <tr>
                <th>Ongoing Support</th>
              </tr>
              <tr>
                <td>
                  <strong>From £75 per month</strong> (<small
                    ><a href="#support">See below</a>)</small
                  >
                </td>
              </tr>
              <tr>
                <th>Hosting</th>
              </tr>
              <tr>
                <td>
                  <strong>From £400 per year</strong> (<small
                    ><a href="#hosting">See below</a>)</small
                  >
                </td>
              </tr>
            </table>

            <div class="tint">
              <h4>How much does a website cost?</h4>
              <p>
                <a href="#examples">See below</a> for example costs for some
                typical web projects.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- .section-inner -->
    </div>
    <!-- .section -->
    <div id="feature_general_content-2" class="section feature-general-content">
      <div class="section-inner">
        <div class="cols clear" id="support">
          <h3>Ongoing Support Prices</h3>
          <div class="col col-2-3">
            <p>
              <strong>Save with ongoing support&#8230;</strong>keep your website
              ticking over, make content/design updates or improve your
              site&#8217;s Search Engine Optimisation. By paying upfront you get
              more for your money. There is no minimum commitment and you can
              cancel at any time.
            </p>
            <table>
              <tr>
                <th>Basic Support</th>
                <th>Standard Support</th>
                <th>Pro Performance Support</th>
              </tr>
              <tr>
                <td>
                  <ul>
                    <li>1-2 hours of development time per month, plus:</li>
                    <li>Site backup</li>
                    <li>WordPress and plugin updates</li>
                    <li>Site health check</li>
                  </ul>
                </td>
                <td>
                  <ul>
                    <li>4-5 hours of development time per month, plus:</li>
                    <li>Site backup</li>
                    <li>WordPress and plugin updates</li>
                    <li>Site health check</li>
                  </ul>
                </td>
                <td>
                  <ul>
                    <li>
                      One full day of SEO-focussed development time per month
                    </li>
                    <li>Setting and tracking of performance targets</li>
                    <li>Monthly SEO report, plus:</li>
                    <li>Site backup</li>
                    <li>WordPress and plugin updates</li>
                    <li>Site health check</li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td><strong>£75 per month</strong></td>
                <td><strong>£150 per month</strong></td>
                <td><strong>£300 per month</strong></td>
              </tr>
            </table>
          </div>
          <div class="col col-1-3">
            <div class="tint">
              <h4>Do you need ongoing support?</h4>
              <p>
                Absolutely not! A lot of the things I do, you can do, such as
                site backups, plugin updates and content changes. I&#8217;ll
                show you how if you don&#8217;t already know.
              </p>
              <p>
                But if you don&#8217;t see yourself doing the above it is
                recommended you do purchase some ongoing support so that your
                site remains secure and up-to-date.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- .section-inner -->
    </div>
    <!-- .section -->
    <div id="feature_general_content-3" class="section feature-general-content">
      <div class="section-inner">
        <div class="cols clear" id="hosting">
          <h3>Hosting Prices</h3>
          <div class="col col-2-3">
            <table>
              <tr>
                <th>Standard WordPress Hosting</th>
                <th>E-Commerce WordPress Hosting</th>
              </tr>
              <tr>
                <td>
                  <ul>
                    <li><strong>Features:</strong></li>
                    <li>5GB of webspace</li>
                    <li>Unlimited data transfer</li>
                    <li>Daily backups kept for one month</li>
                    <li>Weekly Backups kept for one year</li>
                    <li>Performance tuned server setup</li>
                    <li>Firewall &#038; Security plugin setup</li>
                    <li>99.99% Uptime</li>
                  </ul>
                </td>
                <td>
                  <ul>
                    <li>
                      <strong>All Standard Hosting features PLUS:</strong>
                    </li>
                    <li>WooCommerce e-commerce installation and setup</li>
                    <li>10GB of webspace</li>
                    <li>Daily database backups kept for one year</li>
                    <li>SSL Certificate for secure transactions</li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td><strong>£400 per year</strong></td>
                <td><strong>£600 per year</strong></td>
              </tr>
            </table>
          </div>
          <div class="col col-1-3">
            <div class="tint">
              <h4>Looking for something cheaper?</h4>
              <p>
                You don&#8217;t have to host with myself — I&#8217;m a little
                more hands-on when it comes to hosting your site but I&#8217;m
                not the cheapest. If you are on a budget I can find you a
                cheaper 3rd party hosting provider, starting from about £100 per
                year… and I can be on hand to help you get your website online.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- .section-inner -->
    </div>
    <!-- .section -->
    <div id="feature_general_content-4" class="section feature-general-content">
      <div class="section-inner">
        <div class="cols clear" id="examples">
          <div class="col col-2-3">
            <h3>Example Prices</h3>
            <p>
              It is advised that you consider your requirements and define a
              rough budget before enquiring about prices. That way I can work to
              accommodate your requirements within your budget. However, if you
              would like an idea of costs, below gives a rough guide of what you
              can expect to pay.
            </p>
            <table>
              <tr>
                <th rowspan="2">
                  <strong>5 page website</strong>: <br />Development only
                </th>
                <td>
                  <ul>
                    <li>Brochure style website</li>
                    <li>WordPress setup</li>
                    <li>
                      Responsive, SEO friendly template built to match your
                      designs (e.g. approx. 3 different layouts)
                    </li>
                    <li>
                      Basic integrations (e.g. contact form, social sharing,
                      analytics)
                    </li>
                    <li>Site launch and quality check</li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td>
                  <small>4 days @&nbsp;£350&nbsp;per&nbsp;day</small> —
                  <strong>TOTAL: £1,400</strong>
                </td>
              </tr>
              <tr>
                <th rowspan="2">
                  <strong>5 page WordPress site</strong>: <br />Design &#038;
                  development
                </th>
                <td>
                  <ul>
                    <li><strong>As above, plus&#8230;</strong></li>
                    <li>Content review and wireframes</li>
                    <li>Branding integration</li>
                    <li>Bespoke design with approx. 3 page layouts</li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td>
                  <small>6 days @&nbsp;£350&nbsp;per&nbsp;day</small> —
                  <strong>TOTAL: £2,100</strong>
                </td>
              </tr>
              <!--
                <tr>
                <th rowspan="2"><strong>8 page WordPress site with site-specific feature(s)</strong>: <br />Development only</th>
                <td>
                <ul>
                <li><strong>As above, plus...</strong></li>
                <li>Site-specific integration (e.g. User submission form, data collection and output)</li>
                <li>Advanced search functionality</li>
                <li>Approx. 5 different page layouts</li>
                </ul>
                </td>
                </tr>
                <tr>
                <td><small>6 days @&nbsp;£350&nbsp;per&nbsp;day</small> — <strong>TOTAL: £2,100</strong></td>
                </tr>
                -->
              <tr>
                <th rowspan="2">
                  <strong>E-commerce site</strong>: <br />Design &amp;
                  Development
                </th>
                <td>
                  <ul>
                    <li><strong>As above, plus&#8230;</strong></li>
                    <li>E-commerce integration with WooCommerce</li>
                    <li>Payment facility set-up (e.g. Paypal, Stripe)</li>
                    <li>Multiple products across multiple categories</li>
                    <li>Advanced search functionality</li>
                    <li>Approx. 5 different page layouts</li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td>
                  <small>12 days @&nbsp;£350&nbsp;per&nbsp;day</small> —
                  <strong>TOTAL: £4,200</strong>
                </td>
              </tr>
              <tr>
                <th rowspan="2">
                  <strong>iOS App</strong>: <br />Design and Development
                </th>
                <td>
                  <ul>
                    <li>Dual platform iOS App — iPhone and iPad</li>
                    <li>Bespoke design</li>
                    <li>Approx. 5 sections with a range of content</li>
                    <li>Integration with your website&#8217;s data</li>
                    <li>3rd-party API data integration</li>
                    <li>Testing and deployment to the App Store</li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td>
                  <small>16 days @&nbsp;£425&nbsp;per&nbsp;day</small> —
                  <strong>TOTAL: £6,800</strong>
                </td>
              </tr>
              <tr>
                <th rowspan="2">
                  <strong>iOS &#038; Android App</strong>: <br />Design and
                  Development
                </th>
                <td>
                  <ul>
                    <li>
                      <strong>As &#8216;iOS App&#8217;, plus&#8230;</strong>
                    </li>
                    <li>Android version of App (same features)</li>
                    <li>Testing and deployment to the Google Play Store</li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td>
                  <small>22 days @&nbsp;£425&nbsp;per&nbsp;day</small> —
                  <strong>TOTAL: £9,350</strong>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <!-- .section-inner -->
    </div>
    <!-- .section -->
  </div>
</article>
