---
title: Testimonials
eleventyNavigation:
  key: Testimonials
  order: 110
---

<article id="post-449" class="post-449 page type-page status-publish hentry">
  <div class="entry-content">
    <div class="section feature-page-intro">
      <div
        class="banner-image"
        style="background-image: url(/assets/img/steve-fade-3-1900x1267.jpg);"
      ></div>
      <div class="section page-intro-content">
        <div class="section-inner section-inner-narrower">
          <h1>Testimonials</h1>
          <p>
            Please have a look at some of the things my clients have been saying
            about what it&#8217;s like working with me&hellip;
          </p>
        </div>
      </div>
    </div>
    <div id="feature_general_content-1" class="section feature-general-content">
      <div class="section-inner">
        <blockquote>
          Very easy to deal with and understood the project objectives
          clearly...I honestly couldn't fault you at all and am looking forward
          to collaborating on several more projects!<br />
          <br />
          Very pleasant personality and understanding about the project needs.
          No over complication of anything and communication levels were very
          high. We are very pleased with the finished product and will have no
          hesitation in working with you again.
          <footer>— Chris Quinn, Navigator Partnership, Glasgow</footer>
        </blockquote>
        <blockquote>
          It was efficient working with you&hellip; and we are
          <strong>happy with how the website turned out</strong> and the ease
          for us to edit content moving forward.
          <footer>— Nigel Brown, BestCities Global Alliance, Singapore</footer>
        </blockquote>
        <blockquote>
          Excellent communication, worked to tight deadline and responded to
          numerous requests for lots and lots of changes without a blink of an
          eye... Very easy going - nothing was a problem - very happy with our
          new website - looks ace. Really going to make a difference to our
          business!
          <footer>— Aaron McIvor, bpi.visqueen, Glasgow</footer>
        </blockquote>
        <blockquote>
          Quick responsive relevant communication, technical expertise. Very
          easy to work with because of friendliness and first class
          communication.
          <footer>— Jack Taylor, The Piobaireachd Society, Aboyne</footer>
        </blockquote>
        <blockquote>
          Friendly approach and as a non techy you explained everything very
          well to us. Loved the end product, your translation into what we
          wanted was spot on.
          <footer>— Claire, RedCo, Midlands</footer>
        </blockquote>
        <blockquote>
          Steven showed an excellent understanding of our requirements and was
          able to take on board our ideas very quickly.<br />
          <br />
          Steven is very professional and diligent in his approach, an excellent
          communicator with a keen eye for detail. We are delighted with our
          website.
          <footer>— Maria Quinn, Glasgow</footer>
        </blockquote>
        <blockquote>
          I liked Steven's friendly and clear approach and I knew where I stood
          with him from the first point of contact. I really liked his 'to-do'
          tracker and felt informed at all stages. He met all deadlines
          specified which was very reassuring. He also ensured everything was
          covered, made necessary changes, and checked in if anything wasn't
          right, and this care ensured we were really happy with the finished
          website.<br />
          <br />
          I found on a couple of occasions during the meetings that some
          information about the site was a little hard to understand from a non
          web designer point of view, but nevertheless, did help get my head
          around things better.<br />
          <br />
          Good mannered, pleasant to work with and a very quick worker - we are
          really happy with our website and we would definitely recommend Steven
          to other people or companies in future.
          <footer>— Emily Reid, Eco Drama, Glasgow</footer>
        </blockquote>
        <blockquote>
          Steven and I have worked together on numerous projects within the arts
          sector. Always a pleasure to work with, he is receptive to ideas,
          reliable and committed to creating a high quality and design focussed
          finished product. The Forth Valley Open Studios iOS app and
          responsively designed website both are great products which I am very
          pleased with.
          <footer>
            — Rosy Naylor, Platform Designs, Edinburgh<br /><a
              href="/portfolio/forth-valley-open-studios/"
              class="block-link"
              >View the &quot;Forth Valley Open Studios 2013&quot; project</a
            >
          </footer>
        </blockquote>
        <blockquote>
          Delighted with the finished products! Look forward to working with you
          and next year.
          <footer>
            — Avril Nicol, Forth Valley Open Studios<br /><a
              href="/portfolio/forth-valley-open-studios/"
              class="block-link"
              >View the &quot;Forth Valley Open Studios 2013&quot; project</a
            >
          </footer>
        </blockquote>
        <blockquote>
          A first class service that was refreshing. A pleasure to work with and
          we found somebody who was very laid back and approachable to ideas and
          suggestions. Steven is only an email or phone call away with an
          excellent response time and super support.
          <footer>— Wayne Roberts, Community Growing Solutions, Fife</footer>
        </blockquote>
        <blockquote>
          The project was finished on time and on budget, and the product was of
          a very high standard. Steven always communicated clearly, concisely
          and in a timely manner. Anything complex was explained well, and
          always left the impression that Steven was knowledgable and willing to
          help. The service promised is what you receive - honest, friendly and
          professional.
          <footer>
            — Annelie, Fountainwell, Perth<br /><a
              href="/portfolio/international-school-meals-day/"
              class="block-link"
              >View the &quot;International School Meals Day&quot; project</a
            >
          </footer>
        </blockquote>
        <blockquote>
          I've worked with Steven on a few projects now and have always found
          him to be both knowledgeable and reliable. He's a guy who can meet
          deadlines with high quality work and I have no hesitation in
          recommending him.
          <footer>— David Ross, Digijuice Ltd, Glasgow</footer>
        </blockquote>
        <blockquote>
          Great - very happy. My blog does exactly what I want it to do...I did
          not have to make any compromises
          <footer>— Alison Gibb, Her Indoors, Gullane</footer>
        </blockquote>
        <blockquote>
          All round just brilliant!! Steve Parks has been wonderful ...so
          helpful and quick. I couldn't fault him. Quick, efficient,
          communicative and helpful! We are v.pleased with the work carried out.
          <footer>— Kate, Tootsa MacGingty Ltd, Edinburgh / London</footer>
        </blockquote>
        <blockquote>
          We had good communication with Steven. The end result speaks for
          itself. We are delighted with the revised web site.
          <footer>
            — David Neill, Clarke Cottage Guest House, Dunfermline<br /><a
              href="/portfolio/clarke-cottage/"
              class="block-link"
              >View the &quot;Clarke Cottage&quot; project</a
            >
          </footer>
        </blockquote>
        <blockquote>
          We've been very impressed with your customer service - we always get
          friendly, prompt replies to our (endless) questions - and the fliers
          and poster you designed for us are fabulous. We asked you to create a
          look that was professional and also fitted our ethos of working with
          community projects...and you did! In fact, your work has been so good
          that we've had to ask you to finish building our website for us as
          well. Compared to your designs our website looked a bit drab, and the
          designer we were using wasn't anywhere near as helpful.
          <footer>— Helen Pank, Small Green Spaces, Edinburgh</footer>
        </blockquote>
        <blockquote>
          Very easy to work with, a quick, professional service and very pleased
          with the end product.
          <footer>— Tim Taylor, Edinburgh</footer>
        </blockquote>
      </div>
      <!-- .section-inner -->
    </div>
    <!-- .section -->
  </div>
</article>
