---
title: Contact
eleventyNavigation:
  key: Contact
  order: 50
---

<article id="post-7" class="post-7 page type-page status-publish hentry">
  <div class="entry-content">
    <div class="section page-intro-content">
      <div class="section-inner section-inner-narrower">
        <br /><br /><br />
        <h1>Contact</h1>
        <div>
          <p class="site-info-contact">
            <strong
              >Steven Park Web Services Ltd.,<br />
              Glasgow, UK<br />
              Email:
              <a
                href="mailto:info@stevenpark.co.uk"
                title="Email me"
                >info@stevenpark.co.uk</a
              ><br />
              Mobile:
              <a href="tel:+447799255012" title="Call me"
                >07799 255 012</a
              ></strong
            >
          </p>
          <ul class="social-links clear">
            <li class="social-links-twitter">
              <a href="https://twitter.com/sparkwebdev/"
                ><span class="icon-twitter"></span> Twitter</a
              >
            </li>
            <li class="social-links-instagram">
              <a href="https://www.instagram.com/sparkwebdev/"
                ><span class="icon-instagram"></span> Instagram</a
              >
            </li>
            <li class="social-links-linkedin">
              <a href="https://www.linkedin.com/in/stevenrobertpark/"
                ><span class="icon-linkedin"></span> LinkedIn</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="section feature-general-content with-tint tint-01">
      <div class="section-inner section-inner-narrower">
          <form id="contact-form" name="contact" method="POST" action="/#contact" data-netlify="true">
              <div>
                <h3>Enquiry Form</h3>
                <span
                  ><p>
                    Please fill out this form and I will get in touch with you
                    shortly. I aim to answer all queries within 24 hours. If you'd
                    rather I called you back please also enter your phone number.
                  </p></span>
              </div>
              <div>
                <ul>
                  <li class="form-col form-required">
                    <label>Name<span>*</span></label>
                    <div>
                      <input
                        name="input_3"
                        id="input_1_3"
                        type="text"
                        value=""
                        aria-required="true"
                        aria-invalid="false"
                      />
                    </div>
                  </li>
                  <li class="form-col">
                    <label for="input_1_9">Organisation</label>
                    <div>
                      <input
                        name="input_9"
                        id="input_1_9"
                        type="text"
                        value=""
                        aria-invalid="false"
                      />
                    </div>
                  </li>
                  <li class="form-col form-required">
                    <label for="input_1_4">Email<span>*</span></label>
                    <div>
                      <input
                        name="input_4"
                        id="input_1_4"
                        type="email"
                        value=""
                        aria-required="true"
                        aria-invalid="false"
                        required
                      />
                    </div>
                  </li>
                  <li class="form-col">
                    <label for="input_1_8">Phone</label>
                    <div>
                      <input
                        name="input_8"
                        id="input_1_8"
                        type="text"
                        value=""
                        aria-invalid="false"
                      />
                    </div>
                  </li>
                  {# <li>
                    <label></label>
                    <div>
                      <ul id="input_1_15">
                        <li>
                          <input
                            name="input_15"
                            type="radio"
                            value="Send a message"
                            checked="checked"
                            id="choice_1_15_0"
                          /><label for="choice_1_15_0" id="label_1_15_0">Send a message</label>
                        </li>
                        <li>
                          <input
                            name="input_15"
                            type="radio"
                            value="Start a project"
                            id="choice_1_15_1"
                          /><label for="choice_1_15_1" id="label_1_15_1">Start a project</label>
                        </li>
                      </ul>
                    </div>
                  </li> #}
                  <li>
                    <label for="input_1_1">Message Subject</label>
                    <div>
                      <input
                        name="input_1"
                        id="input_1_1"
                        type="text"
                        value=""
                        aria-invalid="false"
                        autocomplete="off"
                      />
                    </div>
                  </li>
                  <li class="form-required">
                    <label for="input_1_2">Message<span>*</span></label>
                    <div>
                      <textarea
                        autocomplete="off"
                        name="input_2b"
                        id="input_1_2"
                        rows="10"
                        cols="50"
                        required
                        aria-required="true"
                        aria-invalid="false"
                      ></textarea>
                    </div>
                  </li>
                  {# <li class="form-col">
                    <label for="input_1_13">Project Budget<!--<span>*</span>--></label>
                    <div>
                      <input
                        name="input_13"
                        id="input_1_13"
                        type="text"
                        value=""
                        aria-required="true"
                        aria-invalid="false"
                        disabled=""
                      />
                    </div>
                  </li>
                  <li class="form-col">
                    <label for="input_1_14">Project Deadline(s)<!--<span>*</span>--></label>
                    <div>
                      <input
                        name="input_14"
                        id="input_1_14"
                        type="text"
                        value=""
                        aria-required="true"
                        aria-invalid="false"
                        disabled=""
                      />
                    </div>
                  </li>
                  <li
                    id="field_1_12">
                    <label for="input_1_12">Project Details<span>*</span></label>
                    <div>
                      <textarea
                        name="input_12"
                        id="input_1_12"
                        aria-required="true"
                        aria-invalid="false"
                        rows="10"
                        cols="50"
                        disabled=""
                      ></textarea>
                    </div>
                  </li> #}
                </ul>
              </div>
              <div>
                <input
                  type="submit"
                  id="submit_button_1"
                  value="Submit"
                />
              </form>
      </div>
    </div>
  </div>
</article>
