---
title: Contact
eleventyNavigation:
  key: Contact
  order: 50
---

<article id="post-7" class="post-7 page type-page status-publish hentry">
  <div class="entry-content">
    <div class="section feature-page-intro">
      <div
        class="banner-image"
        style="background-image: url(/assets/img/steve-fade-3-1900x1267.jpg);"
      ></div>
      <div class="section page-intro-content">
        <div class="section-inner section-inner-narrower">
          <h1>Contact</h1>
          <div>
            <p class="site-info-contact">
              <strong
                >Steven Park Web Services Ltd.,<br />
                Glasgow, UK<br />Email:
                <a
                  href="/cdn-cgi/l/email-protection#8be2e5ede4cbf8ffeefdeee5fbeaf9e0a5e8e4a5fee0"
                  title="Email me"
                  ><span
                    class="__cf_email__"
                    data-cfemail="5831363e37182b2c3d2e3d3628392a33763b37762d33"
                    >[email&#160;protected]</span
                  ></a
                ><br />Mobile:
                <a href="tel:+447799255012" title="Call me"
                  >07799 255 012</a
                ></strong
              >
            </p>
            <ul class="social-links clear">
              <li class="social-links-twitter">
                <a href="https://twitter.com/sparkwebdev/"
                  ><span class="icon-twitter"></span> Twitter</a
                >
              </li>
              <li class="social-links-instagram">
                <a href="https://www.instagram.com/sparkwebdev/"
                  ><span class="icon-instagram"></span> Instagram</a
                >
              </li>
              <li class="social-links-linkedin">
                <a href="https://www.linkedin.com/in/stevenrobertpark/"
                  ><span class="icon-linkedin"></span> LinkedIn</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
