---
title: Services
eleventyNavigation:
  key: Services
  order: 20
---

<article id="post-95" class="post-95 page type-page status-publish hentry">
  <div class="entry-content">
    <div class="section feature-page-intro">
      <div
        class="banner-image"
        style="background-image: url(/assets/img/steve-fade-3-1900x1267.jpg);"
      ></div>
      <div class="section page-intro-content">
        <div class="section-inner section-inner-narrower">
          <h1>Services</h1>
          <p>
            I offer a range of web development, design and consultation
            services, working with you to provide a service that is personal yet
            flexible. Have a look below and
            <a title="Contact me" href="/contact/">get in touch</a> if
            you&#8217;d like to discuss further.
          </p>
        </div>
      </div>
    </div>
    <div class="section feature-dual-panel-new">
      <div class="section-inner">
        <div class="cols clear">
          <div
            class="col cover-img"
            style="background-image: url(/assets/img/s-16-535x357.jpg);"
          ></div>
          <div class="col col-content">
            <div class="section-inner">
              <h2 class="section-title">WordPress Design & Development</h2>
              <p>
                <strong>Over 6 years WordPress experience</strong> — I create
                bespoke, personalised WordPress websites that not only look
                great but work great too.
              </p>
              <p>
                <strong>Responsive and Mobile-friendly</strong> — All my sites
                are designed and built from the ground up to be responsive and
                mobile-friendly, adapting to your user&#8217;s device.
              </p>
              <p>
                <strong>Performance Focused and Search Engine Optimised</strong>
                — tested and tweaked to perform well, for both your users and
                search engines.
              </p>
              <p>
                <a href="/work" class="block-link"
                  >View my latest work</a
                ><!--

What should you expect when working with me? Find out about <a>my process</a>.-->
              </p>
              <!--<p><strong><a href="/services/">Read More</a> &raquo;</strong></p>-->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- .section -->
    <div class="section feature-dual-panel-new">
      <div class="section-inner">
        <div class="cols clear">
          <div
            class="col cover-img"
            style="background-image: url(/assets/img/P1130807-535x401.jpg);"
          ></div>
          <div class="col col-content">
            <div class="section-inner">
              <h2 class="section-title">E-Commerce with WooCommerce</h2>
              <p>
                <strong>Turn your visitors into buyers</strong> — add a shop to
                your site using WooCommerce and you can start selling products,
                downloads, memberships and more.
              </p>
              <p>
                <strong>Personalise your shop</strong> — tweak your shop to sell
                products exactly the way you want to.
              </p>
              <p>
                <strong>Accept online payments securely</strong> — choose from a
                wide range of payment providers to safely process transactions.
              </p>
              <p>
                <a href="/work" class="block-link"
                  >View my WooCommerce sites</a
                >
              </p>
              <!--<p><strong><a href="/services/">Read More</a> &raquo;</strong></p>-->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- .section -->
    <div class="section feature-dual-panel-new">
      <div class="section-inner">
        <div class="cols clear">
          <div
            class="col cover-img"
            style="background-image: url(/assets/img/P1130829-535x401.jpg);"
          ></div>
          <div class="col col-content">
            <div class="section-inner">
              <h2 class="section-title">Mobile Apps & Integration</h2>
              <p>
                <strong>Mobile Apps</strong> — integrate your website with a
                mobile app. Get your brand on the iOS App or Android Play
                stores.
              </p>
              <p>
                <strong>Social Media Integration</strong> — connect with your
                users by integrating social media tools such as Facebook,
                Twitter and Instagram, allowing them to engage with and share
                your content.
              </p>
              <p>
                <strong>Marketing and Analytics Integration</strong> — keep your
                users updated with Mailchimp email marketing, get a deeper
                understanding of what they like with Google Analytics
                integration, and more&hellip;<!--— WordPress can handle all of this Phase 2 and <a>much more [link to recommended plugins]</a> and more.

Find out how I integrated the Forth Valley Art Beat WordPress website into a cross-platform iOS and Android app.-->
              </p>
              <!--<p><strong><a href="/services/">Read More</a> &raquo;</strong></p>-->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- .section -->
    <div class="section feature-dual-panel-new">
      <div class="section-inner">
        <div class="cols clear">
          <div
            class="col cover-img"
            style="background-image: url(/assets/img/steve-fade-8-535x357.jpg);"
          ></div>
          <div class="col col-content">
            <div class="section-inner">
              <h2 class="section-title">Search Engine Optimisation</h2>
              <p>
                <strong>Performance Focused and Search Engine Optimised</strong>
                — all my sites have a strong focus on performance and SEO.
              </p>
              <p>
                <strong>Standards Compliant and Future-Proof</strong> —
                well-structured code that follows best practice, ensuring your
                site loads fast, even on mobile devices.
              </p>
              <p>
                <strong>On-going performance goals</strong> — I can work with
                you to set targets to help get your site up the search engine
                rankings, with monthly feedback reporting.<!--This also means you are half your way towards the top of your favourite search engine. Phase 2 (...the second half can <a>take a little longer</a> [link to Search Engine Optimisation not marketing]!)-->
              </p>
              <!--<p><strong><a href="/services/">Read More</a> &raquo;</strong></p>-->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- .section -->
    <div class="section feature-dual-panel-new">
      <div class="section-inner">
        <div class="cols clear">
          <div
            class="col cover-img"
            style="background-image: url(/assets/img/steve-fade-4-535x357.jpg);"
          ></div>
          <div class="col col-content">
            <div class="section-inner">
              <h2 class="section-title">Ongoing Support & Maintenance</h2>
              <p>
                <strong>There for you every step of the way</strong> — I like to
                work with you before, during and after the project to ensure the
                smooth running and on-going success of your website.
              </p>
              <p>
                <strong>On-Going Support</strong> — Make sure your site
                continues to run safely and optimally with my support services,
                with options to suit your budget.
              </p>
              <p>
                <strong>Maintenance, Updates and Improvements</strong> —
                including backups, security updates, search engine optimisation
                and content changes.
              </p>
              <p>
                <a
                  href="/about/prices-payment-terms/#support"
                  class="block-link"
                  >View my On-Going support options</a
                >
              </p>
              <!--<p><strong><a href="/services/">Read More</a> &raquo;</strong></p>-->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- .section -->
  </div>
</article>
