---
title: Work
eleventyNavigation:
  key: Work
  order: 10
workItems:
  - title: "Galbani: Authentic Italian Cheese"
    slug: galbani-authentic-italian-cheese
    tags: WordPress Website
    description: A tasty website for Italy's No.1 cheese brand, built using WordPress and featuring a recipe finder, with exclusive recipes from chefs and food bloggers.
    image: P1130800-535x535.jpg
  - title: Navigator Partnership
    slug: navigator-partnership
    tags: WordPress Website
    description: A responsive WordPress website for a Glasgow based marketing services partner working across web, digital and creative.
    image: P1140165b-535x401.jpg
  - title: Broomhill Dental
    slug: broomhill-dental
    tags: WordPress Website
    description: A responsive WordPress website for a Glasgow-based dental surgery providing a range of general, restorative and cosmetic dentistry services.
    image: P1130859-535x401.jpg
  - title: SooUK
    slug: soouk
    tags: WordPress Website
    description: A contemporary online design store, based near Edinburgh. The site showcases a mutual love of beautiful product design, interiors and architecture.
    image: soo-uk-00-535x326.jpg
  - title: Variprint
    slug: variprint
    tags: WordPress Website
    description: A bold, modern and mobile-responsive design for a design and print company based in Paisley, near Glasgow built using Wordpress and WooCommerce.
    image: VariPrint00-535x769.jpg
  - title: The Pet Business
    slug: the-pet-business
    tags: Shopify Theme
    description: A retailer, wholesaler and distributor of high quality pet products with a focus on quality, ethical, innovative products.
    image: Pet-Business-01.jpg
---

<article id="post-1024" class="post-1024 page type-page status-publish hentry">
  <div class="entry-content">

      <div
        class="banner-image"
        style="background-image: url(/assets/img/steve-fade-3-1900x1267.jpg);"
      ></div>
      <div class="section page-intro-content">
        <div class="section-inner section-inner-narrower">
          <h1>Work</h1>
          <p>I'm currently working on updating this section with my latest work. In the meantime, please see some of my older work below.
        </div>
      </div>
    </div>

    <div class="section work-archive">
      <div class="section-inner">
        <h3>Work Archive</h3>
        <ul class="feature-list clear">
          {% for item in workItems %}
          <li>
            <a href="/work/{{item.slug}}/">{{item.title}}</a> — 
            {{item.description}}
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <!-- .section -->
  </div>
</article>
