---
title: Work
eleventyNavigation:
  key: Work
  order: 10
---

<article id="post-1024" class="post-1024 page type-page status-publish hentry">
  <div class="entry-content">
    <div class="section feature-page-intro">
      <div
        class="banner-image"
        style="background-image: url(/assets/img/P1140169b.jpg);"
      ></div>
    </div>
    <div class="section feature-dual-panel-new">
      <div class="section-inner">
        <div class="cols clear">
          <div
            class="col cover-img"
            style="background-image: url(/assets/img/P1140165b-535x401.jpg);"
          ></div>
          <div class="col col-content">
            <div class="section-inner">
              <h2 class="section-title">WordPress Website</h2>
              <h3>
                <a
                  href="/work/navigator-partnership/"
                  >Navigator Partnership</a
                >
              </h3>
              <!--<img src="/assets/img/key-03.png" class="work-key" />-->
              <p>
                A responsive WordPress website for a Glasgow based marketing
                services partner working across web, digital and creative.
              </p>
              <p>
                <strong
                  ><a
                    href="/work/navigator-partnership/"
                    class="block-link"
                    >View Project</a
                  ></strong
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- .section -->
    <div class="section feature-dual-panel-new">
      <div class="section-inner">
        <div class="cols clear">
          <div
            class="col cover-img"
            style="background-image: url(/assets/img/P1130800-535x535.jpg);"
          ></div>
          <div class="col col-content">
            <div class="section-inner">
              <h2 class="section-title">WordPress Website</h2>
              <h3>
                <a
                  href="/work/galbani-authentic-italian-cheese/"
                  >Galbani: Authentic Italian Cheese</a
                >
              </h3>
              <!--<img src="/assets/img/key-03.png" class="work-key" />-->
              <p>
                A tasty website for Italy&#8217;s No.1 cheese brand, built using
                WordPress and featuring a recipe finder, with exclusive recipes
                from chefs and food bloggers.
              </p>
              <p>
                <strong
                  ><a
                    href="/work/galbani-authentic-italian-cheese/"
                    class="block-link"
                    >View Project</a
                  ></strong
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- .section -->
    <div class="section feature-dual-panel-new">
      <div class="section-inner">
        <div class="cols clear">
          <div
            class="col cover-img"
            style="background-image: url(/assets/img/P1130859-535x401.jpg);"
          ></div>
          <div class="col col-content">
            <div class="section-inner">
              <h2 class="section-title">WordPress Website</h2>
              <h3>
                <a href="/work/broomhill-dental/"
                  >Broomhill Dental</a
                >
              </h3>
              <!--<img src="/assets/img/key-03.png" class="work-key" />-->
              <p>
                A responsive WordPress website for a Glasgow-based dental
                surgery providing a range of general, restorative and cosmetic
                dentistry services.
              </p>
              <p>
                <strong
                  ><a
                    href="/work/broomhill-dental/"
                    class="block-link"
                    >View Project</a
                  ></strong
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- .section -->
    <div class="section feature-dual-panel-new">
      <div class="section-inner">
        <div class="cols clear">
          <div
            class="col cover-img"
            style="background-image: url(/assets/img/P1130768-535x368.jpg);"
          ></div>
          <div class="col col-content">
            <div class="section-inner">
              <h2 class="section-title">WordPress Website</h2>
              <h3>
                <a
                  href="/work/ardentinny-outdoor-centre/"
                  >Ardentinny Outdoor Centre</a
                >
              </h3>
              <!--<img src="/assets/img/key-03.png" class="work-key" />-->
              <p>
                A Wordpress website to showcase the Ardentinny Centre&#8217;s
                range of unforgettable experiences for children and young
                people, set on the beautiful shores of Loch Long.
              </p>
              <p>
                <strong
                  ><a
                    href="/work/ardentinny-outdoor-centre/"
                    class="block-link"
                    >View Project</a
                  ></strong
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- .section -->
    <div class="section feature-dual-panel-new">
      <div class="section-inner">
        <div class="cols clear">
          <div
            class="col cover-img"
            style="background-image: url(/assets/img/soo-uk-00-535x326.jpg);"
          ></div>
          <div class="col col-content">
            <div class="section-inner">
              <h2 class="section-title">WordPress Website</h2>
              <h3>
                <a href="/work/soouk/">SooUK</a>
              </h3>
              <!--<img src="/assets/img/key-03.png" class="work-key" />-->
              <p>
                A contemporary online design store, based near Edinburgh. The
                site showcases a mutual love of beautiful product design,
                interiors and architecture.
              </p>
              <p>
                <strong
                  ><a
                    href="/work/soouk/"
                    class="block-link"
                    >View Project</a
                  ></strong
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- .section -->
    <div class="section feature-dual-panel-new">
      <div class="section-inner">
        <div class="cols clear">
          <div
            class="col cover-img"
            style="background-image: url(/assets/img/VariPrint00-535x769.jpg);"
          ></div>
          <div class="col col-content">
            <div class="section-inner">
              <h2 class="section-title">WordPress Website</h2>
              <h3>
                <a href="/work/variprint/"
                  >Variprint</a
                >
              </h3>
              <!--<img src="/assets/img/key-03.png" class="work-key" />-->
              <p>
                A bold, modern and mobile-responsive design for a design and
                print company based in Paisley, near Glasgow built using
                Wordpress and WooCommerce.
              </p>
              <p>
                <strong
                  ><a
                    href="/work/variprint/"
                    class="block-link"
                    >View Project</a
                  ></strong
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- .section -->
    <div class="section work-archive">
      <div class="section-inner">
        <h3>More Work&hellip;</h3>
        <!--<p>Some of the older projects I have worked on over the years&hellip;</p>-->
        <ul class="feature-list clear">
          <li class="work-archive-3">
            <a
              href="/work/society-botanical-artists/"
              ><strong>Society of Botanical Artists</strong></a
            >
            — a WordPress website to support and showcase botanical artists and
            give them the opportunity to submit work for Society exhibitions.
          </li>
          <li class="work-archive-3">
            <a href="/work/the-pet-business/"
              ><strong>The Pet Business</strong></a
            >
            — A retailer, wholesaler and distributor of high quality pet
            products with a focus on quality, ethical, innovative products.
          </li>
          <li class="work-archive-3">
            <a
              href="/work/dont-give-fire-a-home/"
              ><strong>Don&#8217;t Give Fire A Home</strong></a
            >
            — An interactive website aimed at encouraging visitors to gain fire
            safety knowledge and book a safety visit.
          </li>
          <li class="work-archive-3">
            <a
              href="/work/gender-in-global-governance-net-work/"
              ><strong>Gender in Global Governance Net-Work</strong></a
            >
            — A Wordpress site for discussion of gender themes in global
            governance, featuring a user Forum.
          </li>
          <li class="work-archive-3">
            <a
              href="/work/customer-forum-for-water/"
              ><strong>Customer Forum for Water</strong></a
            >
            — A Wordpress website backed by the Scottish Government, designed to
            highlight the role of the water industry in Scotland.
          </li>
          <li class="work-archive-3">
            <a href="/work/enquire/"
              ><strong>Enquire</strong></a
            >
            — Wordpress website for Enquire, a Scottish learning support service
            funded by the Scottish Government.
          </li>
        </ul>
      </div>
    </div>
    <!-- .section -->
  </div>
</article>
