:root {
    /* Borders */
    --border__width-site: 1px;
    --border__width-site-wide: 5px;
    --border__width-input: 0 0 2px 0;
    --border__width-button: 0 0 var(--border__width-site-wide) 0;

    --border__radius-site: 0;
    --border__radius-input: 0;
    --border__radius-button: 0;

    /* Animations */
    --transition__color: color 0.5s ease;
    --transition__background: background 0.25s ease;
    --transition__opacity: opacity 0.5s ease;
    --transition__scale: all 0.25s ease;
    --transition__all: all 0.5s ease;
    --transition__all_fast: all 0.25s ease;
    --transition__block-link: background 0.5s ease, border 0.25s ease;

    /* Shadows */
    --shadow__box: 0 0 2px 2px --color__tone-40;
    --shadow__box-offset: 0 3px 5px --color__tone-40;

    --shadow__box-inset: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
    --shadow__box-inset-hover: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02);
    --shadow__box-inset-focus: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02);
}