:root {
	// Site Widths
	--size__site-main: 100%;

	// Site Content Widths
	--size__content-max-width: 75rem;
	--size__content-max-width-narrow: 56rem;
	--size__content-max-width-narrower: 45rem;
	--size__content-max-width-wide: 100rem;

	// Spacing
	--spacing__smallest: 0.2rem;
	--spacing__smaller: 0.5rem;
	--spacing__small: 0.8075rem;
	--spacing__medium: 1.4375rem;
	--spacing__large: 2rem;
	--spacing__larger: 2.6rem;
	--spacing__largest: 4rem;
	--spacing__forms-input-padding: --spacing__smaller;
	--spacing__forms-button-padding: --spacing__small --spacing__medium ($spacing__smaller + $spacing__smallest) var(--spacing__medium);
}

