---
layout: base
---

<div id="primary" class="site-content section">
  <div class="section feature-page-intro archived-work">
    <div class="section page-intro-content">
      <div class="section-inner section-inner-narrower">
        <p>
          This is some of my older work!<br />Please see what I've been
          <a href="/work/" title="Latest Work">working on recently</a>.
        </p>
      </div>
    </div>
  </div>

  <main class="section-inner">
    {{ content | safe }}
  </main>
  <!-- #primary -->
</div>
