<footer class="wrapper">

  <p>
    <strong>{{ metadata.author.name }},<br />
    {{ metadata.author.location }}<br />
    Email: <a href="{{ metadata.author.email }}" title="Email me">{{ metadata.author.email }}</a><br />
    Mobile: <a href="tel:{{ metadata.author.telephoneInternational }}" title="Call me">{{ metadata.author.telephone }}</a></strong>
  </p>

  {% include "components/social-links.html" %}

  <h4>Browse:</h4>
  {% set navItems = navigation.primary %}
  {% set navAriaLabel = "" %}
  {% include "partials/nav.html" %}

  <h4>Client Support:</h4>
  {% set navItems = navigation.support %}
  {% set navAriaLabel = "Supplementary Support" %}
  {% include "partials/nav.html" %}

  <p>&copy; <a href="/" title="Steven Park" rel="home">{{ metadata.author.name }}</a>, 2020.</p>

  <a class="skip-link screen-reader-text" href="#main-header">Back to stop</a>

</footer>