<footer class="[ site-footer ]">
  <div class="wrapper auto-flex">

    <div class="[ site-footer__contact ] flow">
      {% include "partials/contact-details.html" %}
    </div>

    {# <div class="[ site-footer__browse ] flow">
      {% set navItems = navigation.primary %}
      {% set navTitle = "Browse" %}
      {% set navShowSub = true %}
      {% set navIncludeHome = true %}
      {% include "partials/navigation.html" %}
    </div> #}

  </div>

  <p class="[ site-footer__info ]">
    <small>&copy; {{ "" | currentYear }} <a href="/" title="Steven Park" rel="home">{{ metadata.author.name }}</a>.
    Site built with <a href="https://www.11ty.dev/">11ty</a>.</small>
    <a class="[ site-footer__back-to-top ]" href="#main-body">Back to top</a>
  </p>
  
</footer>