<figure role="group" class="[ image-group image-group--{{ imageGroupModifier }} ]" aria-labelledby="image-group-title-{{ imageGroupID }}">
  {% if imageGroupModifier != "single" %}
  <div class="image-group__row-1{% if imageGroupModifier == "row" %} auto-grid{% endif %}">
  {% endif %}
    {% if imageGroupItems.image1 %}<img src="/assets/img/{{ imageGroupItems.image1 }}" class="image-group__image-1" alt="" role="presentation" loading="lazy" />{% endif %}
  {% if imageGroupModifier == "thirds" %}
  </div>
  <div class="image-group__row-2 auto-grid">
  {% endif %}
    {% if imageGroupItems.image2 %}<img src="/assets/img/{{ imageGroupItems.image2 }}" class="image-group__image-2" alt="" role="presentation" loading="lazy" />{% endif %}
    {% if imageGroupItems.image3 %}<img src="/assets/img/{{ imageGroupItems.image3 }}" class="image-group__image-3" alt="" role="presentation" loading="lazy" />{% endif %}
    <figcaption id="image-group-title-{{ imageGroupID }}" class="[ image-group__caption ]">
      <p>{{ imageGroupItems.alt | safe }}</p>
    </figcaption>
  {% if imageGroupModifier != "single" %}
  </div>
  {% endif %}
</figure>