
    {% if imageGroupItems.image1 %}
    
    <img src="/assets/img/{{ imageGroupItems.image1 }}" class="image-group__image-1" alt="" role="presentation" />
    <hr />
    <img src="/assets/img/{{ imageGroupItems.image1 }}?nf_resize=smartcrop&w=900&h=300"" class="image-group__image-1" alt="" role="presentation" loading="lazy" />
    <hr />
    <img src="/assets/img/{{ imageGroupItems.image1 }}?nf_resize=smartcrop&w=200&h=200" class="image-group__image-1" alt="" role="presentation"  />
    
    
    
    {% endif %}
