<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>
  {%- if page.url == "/" -%}
  {{ metadata.title }}
  {%- else -%}
  {{ title + " | " + metadata.author.name }}
  {%- endif -%}
</title>

<meta name="description" content="{{ description or subtitle or metadata.description }}">
<meta name="robots" content="max-snippet:-1, max-image-preview:large, max-video-preview:-1"/>

<link rel="canonical" href="{{ metadata.url }}{{ page.url }}" />
<link rel="alternate" type="application/rss+xml" href="{{ metadata.url }}/feed/feed.xml" />

<link rel="icon" href="/favicon.ico">
<link rel="icon" href="/favicon.svg" type="image/svg+xml">
<link rel="apple-touch-icon" href="/apple-touch-icon.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg">
<meta name="theme-color" content="#ffffff">
<meta name="color-scheme" content="light">

<link rel="preload" href="/assets/fonts/Literata-400-latin14.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/assets/fonts/Literata-700-latin21.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/assets/fonts/Quando-400-latin23.woff2" as="font" type="font/woff2" crossorigin>


{%- if not socialImage -%}{% set socialImage = "me-profile.jpg" %}{%- endif %}

<meta property="og:locale" content="en_GB" />
<meta property="og:type" content="website" />
<meta property="og:title" content="{{ title or metadata.title }}" />
<meta property="og:description" content="{{ description or subtitle or metadata.description }}" />
<meta property="og:url" content="{{ metadata.url }}{{ page.url | url }}" />
<meta property="og:site_name" content="{{ metadata.author.name }}" />
<meta property="og:image" content="/assets/img/{{ socialImage }}">
<meta property="og:image:alt" content="Page image for {{ title }} on {{ metadata.title }}" />

<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="{{ title or metadata.title }}">
<meta name="twitter:description" content="{{ description or subtitle or metadata.title }}">
<meta name="twitter:image" content="/assets/img/{{ socialImage }}">
<meta property="twitter:image:alt" content="Page image for {{ title }} on {{ metadata.title }}" />
