<div class="[ metrics ]">
  <table class="[ metrics__table ] styled-scroll width-full" aria-describedby="metrics-disclaimer">
    <tbody>
      <tr>
        <th rowspan="2">Grade<br />
          <span class="[ metrics__value-huge ]">{{GTmetrixGrade[0]}}</span>
        </th>
        <th>Performance</th>
        <th>Structure</th>
      </tr>
      <tr>
        <td class="[ metrics__value-large ]">{{GTmetrixGrade[1]}}<span class="[ metrics__value-small ]">%</span></td>
        <td class="[ metrics__value-large ]">{{GTmetrixGrade[2]}}<span class="[ metrics__value-small ]">%</span></td>
      </tr>
      <tr>
        <th>Largest Contentful Paint</th>
        <th>Total Blocking Time</th>
        <th>Cumulative Layout Shift</th>
      </tr>
      <tr>
        <td class="[ metrics__value-large ]">{{webVitals[0]}}<span class="[ metrics__value-small ]">s</span></td>
        <td class="[ metrics__value-large ]">{{webVitals[1]}}<span class="[ metrics__value-small ]">ms</span></td>
        <td class="[ metrics__value-large ]">{{webVitals[2]}}</td>
      </tr>
    </tbody>
  </table>
  <p class="[ metrics__disclaimer ]" id="metrics-disclaimer"><em><span aria-hidden="true">* </span>Table shows scores from <a href="https://gtmetrix.com/">GT Metrix</a>'s performance measuring tool, against the site's homepage. Scores are subject to variation over time.</em></p>
</div>