<article class="[ preview ]">
  <header>
    <{{ "h3" if page.url == "/" else "h2" }} class="[ preview__title ]">
      <a href="{{ post.url | url }}">{% if post.data.title %}{{ post.data.title | safe }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
    </{{ "h3" if page.url == "/" else "h2" }}>
    {% if post.data.subtitle %}
      <p><strong>{{ post.data.subtitle }}</strong></p>
    {% endif %}
    <ul class="[ preview__meta ]">
      <li>
        <em>Posted on </em><time datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
        {% if post.data.blogType %}<em>in</em> <a href="/blog/{{ post.data.blogType | slug }}"><strong>{{ post.data.blogType }}</strong></a>{% endif %}
      </li>
    </ul>
  </header>
  {% if post.data.description %}
    <p>{{ post.data.description }}</p>
  {% endif %}

  {% if post.data.tags.length %}
  <footer>
    <ul class="[ preview__meta ]">
      <li>
        <em>Tags:</em>
        {% set comma = joiner() %}
        {% for tag in post.data.tags -%}
          {%- set tagUrl %}/blog/tags/{{ tag | slug }}/{% endset -%}
          {{ comma() }} <a href="{{ tagUrl | url }}">{{ tag }}</a>
        {%- endfor %}
      </li>
    </ul>
  </footer>
  {% endif %}
</article>