<article class="preview flow" data-theme="{{item.fileSlug}}"> 
  <header>
    {%if item.data.title %}<{{ "h2" if page.url == "/work/" else "h3" }}><a href="/work/{{item.fileSlug}}/" rel="bookmark">{{item.data.title}}</a></h3>{% endif %}
    {%if item.data.projectType %}<p><strong>{{item.data.projectType}}</strong></p>{% endif %}
    {% if item.data.projectMeta %}
      {% for name, item in item.data.projectMeta %}
        {% if name == "Project Type" %}<p><strong>{{item}}</strong></p>{% endif %}
      {% endfor %}
    {% endif %}
  </header>
  {%if item.data.previewImage %}<img src="/assets/img/{{ item.data.previewImage }}" class="screenshot" alt="" role="presentation">{% endif %}
  {%if item.data.description %}<p>{{item.data.description}}{% endif %}
  {# {%if item.fileSlug %} <br /><a href="/work/{{item.fileSlug}}/" rel="bookmark" aria-label="">View project</a>&hellip;{% endif %}</p> #}
</article>