<article class="[ preview {%- if item.data.previewImage %} preview--with-image{% endif %} {%- if item.data.featured %} preview--featured{% endif %} ] flow {%- if item.data.featured %} wrapper__breakout{% endif %}" data-theme="{{item.fileSlug}}"> 
  {% if item.data.previewImage %}<div class="preview__inner flow">{% endif %}
    <header>
      {% if item.data.title %}<{{ "h2" if page.url == "/work/" else "h3" }} class="[ preview__title ]"><a href="{{item.url}}" rel="bookmark">{{item.data.title}}</a></{{ "h2" if page.url == "/work/" else "h3" }}>{% endif %}
      {% if item.data.projectMeta %}
        <p class="[ preview__subtitle ]">
          {% for name, item in item.data.projectMeta %}
            {% if name == "Project Type" %}<strong><span class="visually-hidden">Project Type: </span>{{item | safe}}</strong>{% endif %}
            {% if name == "Built Using" %} — <em><span class="visually-hidden">Built Using: </span>{{item | safe}}</em>{% endif %}
          {% endfor %}
        </p>
      {% endif %}
    </header>
    {% if item.data.previewImage %}<a href="{{item.url}}" rel="bookmark" class="[ preview__image-link-container ]"><img src="/assets/img/{{ item.data.previewImage }}?nf_resize=fit&amp;w=520" class="[ preview__image ]" alt="" role="presentation" loading="lazy"></a>{% endif %}
    {% if item.data.description %}<p class="[ preview__description ]">{{item.data.description | safe }}{% endif %}
  {% if item.data.previewImage %}</div>{% endif %}
</article>