<h4>
  <a href="{{ post.url | url }}">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
</h4>
<ul>
  <li>
    <em>Posted: </em><time datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
  </li>
  <li>
  <em>Tags: </em>
  {% for tag in post.data.tags %}
    {% set tagUrl %}/blog/tags/{{ tag | slug }}/{% endset %}
    <a href="{{ tagUrl | url }}">{{ tag }}</a>
  {% endfor %}
  </li>
</ul>
{% if post.data.subtitle or post.data.excerpt %}
  <div>
    {% if post.data.subtitle %}
    <p>{{ post.data.subtitle }}</p>
    {% endif %}
    {% if post.data.description and postListExtended %}
    <p>{{ post.data.description }}</p>
    {% endif %}
  </div>
{% endif %}