/* Posts Navigation */
.page-links {
	clear: both;
	margin: 0 0 $spacing__medium;
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 $spacing__medium;
		overflow: hidden;
	}

	& .nav-previous, & .nav-next {
		float: left;
		width: 48%;
		padding: $spacing__small 0;
	}

	& .nav-next {
		float: right;
		text-align: right;
	}
}

/* Edit Link */
.edit-link {
	clear: both;
}
.edit-link,
.post-edit-link {
	position: fixed;
	bottom: 0;
	left: 0;
	background: $color__brand-1;
	z-index: 999999;
}
.edit-link a,
.post-edit-link a {
    text-decoration: none;
    color: #fff !important;
    display: inline-block;
    padding: $spacing__smaller $spacing__small;

    &:hover {
		background: $color__brand-2;
	}
}
